<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
        <div class="btn-group">
            <button class="btn btn-sm" (click)="showHideAdd = !showHideAdd">Add Sample</button>
            <!--<button class="btn btn-sm" (click)="showHideEdit = !showHideEdit" [disabled]=" studySelected ? null : showHideAdd ? null: 'disabled' ">Edit Study</button>-->
            <!--<button class="btn btn-sm" [disabled]="studySelected ? null : 'disabled'" (click)="deleteStudyConfirm = true">Delete Sample</button>-->
        </div>
    </div>
</div>

<!--Add sample card --> 
<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" *ngIf="showHideAdd" >
        <!-- begin card-->
        <div class="card">
            <div class="card-block">
                <div class="card-title">Add Sample</div>

                <div class="card-text">
                    <!-- begin form -->
                    <form class="form compact" [formGroup]="addSampleForm" (ngSubmit)="onSubmit()" [hidden]="submitted" >
                        <section class="form-block">

                            <!-- sample type select form, without Clarity UI validation -->
                            <!--<div class="form-group" >
                                <label for="sampleTypeSelect">Sample type</label>
                                <div class="select">
                                    <select id="sampleTypeSelect" name="sample_type" formControlName="sample_type">
                                        <option value="Default">Select Sample Type...</option>
                                        <option *ngFor="let type of sampleTypes" [value]="type.sample_type_id">{{type.sample_type}}</option>
                                    </select>
                                </div>
                            </div>-->

                            <div class="form-group">
                                <label class="required">Matrix</label>
                                <label for="matrixSelect" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addSampleForm.get('matrix_type').invalid && (addSampleForm.get('matrix_type').dirty || addSampleForm.get('matrix_type').touched)">
                                    <div class="select">
                                        <select id="matrixSelect" name="matrix_type" formControlName="matrix_type" (change)="onMatrixSelect($event.target.value)">
                                            <option *ngFor="let matrix of matrices" [value]="matrix.matrix_cd">{{matrix.matrix_type}}</option>
                                        </select>
                                    </div>
                                </label>
                            </div>

                             <div class="form-group">
                                <label class="required">Study</label>
                                <label for="studySelect" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addSampleForm.get('study').invalid && (addSampleForm.get('study').dirty || addSampleForm.get('study').touched)">
                                <div class="select">
                                    <select id="studySelect" name="study" formControlName="study">
                                        <!-- line below is for adding a default value -->
                                        <!--<option value="Default">Select Study...</option>-->
                                        <option *ngFor="let study of studies" [value]="study.study_id">{{study.study}}</option>
                                    </select>
                                </div>
                                </label>
                            </div>

                             <div class="form-group">
                                <label class="required">Sample type</label>
                                <label for="sampleTypeSelect" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addSampleForm.get('sample_type').invalid && (addSampleForm.get('sample_type').dirty || addSampleForm.get('sample_type').touched)">
                                <div class="select">
                                    <select id="sampleTypeSelect" name="sample_type" formControlName="sample_type">
                                        <!-- line below is for adding a default value -->
                                        <!--<option value="Default">Select Sample Type...</option>-->
                                        <option *ngFor="let sampleType of sampleTypes" [value]="sampleType.id">{{sampleType.name}}</option>
                                    </select>
                                </div>
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="required">Collaborator Sample ID</label>
                                <label for="collabSampleIdInput" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addSampleForm.get('collaborator_sample_id').invalid && (addSampleForm.get('collaborator_sample_id').dirty || addSampleForm.get('collaborator_sample_id').touched)">
                                    <input id="collabSampleIdInput" type="text" formControlName="collaborator_sample_id" >
                                    <span class="tooltip-content">Collaborator ID is required.</span>
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="required">Filtered</label>
                                <div class="toggle-switch">
                                    <input type="checkbox" id="filteredToggle" formControlName="filter_flag">
                                    <label for="filteredToggle">{{this.addSampleForm.controls.filter_flag.value ? "Yes" : "No"}}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="required">Secondary Concentration</label>
                                <div class="toggle-switch">
                                    <input type="checkbox" id="secondaryConcToggle" formControlName="secondary_concentration_flag">
                                    <label for="secondaryConcToggle">{{this.addSampleForm.controls.secondary_concentration_flag.value ? "Yes" : "No"}}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="studySiteNameInput">Study Site Name</label>
                                <input id="studySiteNameInput" type="text" formControlName="study_site_name" >
                            </div>


                            <div class="form-group">
                                <label for="sampleDescInput">Sample Description</label>
                                <textarea id="sampleDescInput" rows="2" formControlName="sample_description" style="max-width:25em" ></textarea>
                            </div>

                            <div class="form-group">
                                <label for="samplerNameInput">Sampler Name</label>
                                <input id="samplerNameInput" type="text" formControlName="sampler_name">
                            </div>

                            <div class="form-group">
                                <label for="collectStartDateInput" class="required">Collection Start Date</label>
                                <input type="date" id="collectStartDateInput" formControlName="collection_start_date" >
                            </div>

                            <!--begin variable display section-->

                            <div class="form-group">
                                <label for="collectStartTime">Collection Start Time (HHmm)</label>
                                <input id="collectStartTime" type="text" formControlName="collection_start_time">
                            </div>

                            <div class="form-group">
                                <label for="collectEndDateInput">Collection End Date</label>
                                <input type="date" id="collectEndDateInput" formControlName="collection_end_date" >
                            </div>

                            <div class="form-group">
                                <label for="collectEndTime">Collection End Time (HHmm)</label>
                                <input id="collectEndTime" type="text" formControlName="collection_end_time">
                            </div>

                            <div class="form-group">
                                <label for="pumpRateInput">Pump Flow rate</label>
                                <input id="pumpRateInput" type="text" formControlName="pump_flow_rate">
                            </div>

                            <div class="form-group">
                                <label for="meter_reading_initialInput" >Initial Meter Reading</label>
                                 <input type="text" id="meter_reading_initialInput" formControlName="meter_reading_initial">
                                <div class="select">
                                    <select id="meter_reading_initialUnitSelect" formControlName="meter_reading_unit">
                                         <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="fmrInput">Final Meter Reading</label>
                                 <input type="text" id="fmrInput" formControlName="meter_reading_final">
                                 <label>{{addSampleForm.controls.total_volume_sampled_unit_initial.name}}</label>
                            </div>

                            <div class="form-group">
                                <label for="tvsInput">Total Volume Sampled</label>
                                 <input type="text" id="tvsInput" formControlName="tvs">
                                <div class="select">
                                    <select id="tvsUnitSelect" formControlName="total_volume_sampled_unit_initial">
                                        <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="volPostDiluteInput">Volume After Dilution</label>
                                <input id="volPostDiluteInput" type="text" formControlName="post_dilution_volume">
                            </div>

                            <!--come back and make this a dropdown -->
                            <div class="form-group">
                                <label for="filterTypeInput">Filter Type</label>
                                <input id="filterTypeInput" type="text" formControlName="filter_type">
                            </div>

                            <div class="form-group">
                                <label for="filterBornOnDateInput">Collection Start Date</label>
                                <input type="date" id="filterBornOnDateInput" formControlName="filter_born_on_date" >
                            </div>

                            <div class="form-group">
                                <label for="dissVolInput">Dissolution Volume (mL)</label>
                                <input id="dissVolInput" type="text" formControlName="air_subsample_volume">
                            </div>

                            <div class="form-group">
                                <label for="eluteDateInput">Elution Date</label>
                                <input type="date" id="eluteDateInput" formControlName="elution_date" >
                            </div>

                            <div class="form-group">
                                <label for="eluteNotesInput">Elution Notes</label>
                                <textarea id="eluteNotesInput" rows="2" formControlName="elution_notes" style="max-width:25em"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="techInitInput">Tech Intials</label>
                                <input id="techInitInput" type="text" formControlName="technician_initials">
                            </div>

                            <div class="form-group">
                                <label for="eluteVolInput">Eluent/Backflish Volume Used</label>
                                <input id="eluteVolInput" type="text" formControlName="sample_volume_initial">
                            </div>

                            <button class="btn btn-primary" type="submit" [disabled]="addSampleForm.invalid"  (click)="createNewSample(addSampleForm.value)">Add</button>
                            <button class="btn btn-info" (click)="showHideAdd = !showHideAdd">Cancel</button>
                        </section>
                        <p>Form value: {{ addSampleForm.value | json }}</p>
                        <p>Form status: {{ addSampleForm.status | json }}</p> 
                    </form>
                    <!-- end form -->
                </div> 
            </div>
        <!-- end card -->
        </div>   
    </div>
</div>

<!-- edit sample modal -->
<clr-modal [(clrModalOpen)]="showHideEdit"  >
    <h3 class="modal-title">Edit Sample</h3>
    <div class="modal-body">

        <div class="row">
            <div class="col-lg-12">
                <form id="editSampleForm" class="compact" [formGroup]="editSampleForm" (ngSubmit)="onSubmit('editSampleForm', editSampleForm.value)" [hidden]="submitted" >
                    <section class="form-block">

                        <!--<label>Selected Sample: {{this.selectedSampleId ? this.selectedSampleId: 'none'}}</label>-->
                        <label>Selected Sample: {{this.selectedSampleId}}</label>

                        <div class="form-group">
                            <label class="required">Matrix</label>
                            <label for="matrixSelect" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="editSampleForm.get('matrix_type').invalid && (editSampleForm.get('matrix_type').dirty || editSampleForm.get('matrix_type').touched)">
                                <div class="select">
                                    <select id="matrixSelect" name="matrix" formControlName="matrix_type" (change)="onMatrixSelect($event.target.value)">
                                        <option *ngFor="let matrix of matrices" [value]="matrix.matrix_cd">{{matrix.matrix_type}}</option>
                                    </select>
                                </div>
                            </label>
                        </div>

                            <div class="form-group">
                            <label class="required">Study</label>
                            <label for="studySelect" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="editSampleForm.get('study').invalid && (editSampleForm.get('study').dirty || editSampleForm.get('study').touched)">
                            <div class="select">
                                <select id="studySelect" name="study" formControlName="study">
                                    <!-- line below is for adding a default value -->
                                    <!--<option value="Default">Select Study...</option>-->
                                    <option *ngFor="let study of studies" [value]="study.study_id">{{study.study}}</option>
                                </select>
                            </div>
                            </label>
                        </div>

                            <div class="form-group">
                            <label class="required">Sample type</label>
                            <label for="sampleTypeSelect" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="editSampleForm.get('sample_type').invalid && (editSampleForm.get('sample_type').dirty || editSampleForm.get('sample_type').touched)">
                            <div class="select">
                                <select id="sampleTypeSelect" name="sample_type" formControlName="sample_type">
                                    <!-- line below is for adding a default value -->
                                    <!--<option value="Default">Select Sample Type...</option>-->
                                    <option *ngFor="let type of sampleTypes" [value]="type.sample_type_id">{{type.sample_type}}</option>
                                </select>
                            </div>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="required">Collaborator Sample ID</label>
                            <label for="collabSampleIdInput" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="editSampleForm.get('collaborator_sample_id').invalid && (editSampleForm.get('collaborator_sample_id').dirty || editSampleForm.get('collaborator_sample_id').touched)">
                                <input id="collabSampleIdInput" type="text" formControlName="collaborator_sample_id" >
                                <span class="tooltip-content">Collaborator ID is required.</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="required">Filtered</label>
                            <div class="toggle-switch">
                                <input type="checkbox" id="filteredToggle" formControlName="filter_flag">
                                <label for="filteredToggle">{{this.editSampleForm.controls.filter_flag.value ? "Yes" : "No"}}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="required">Secondary Concentration</label>
                            <div class="toggle-switch">
                                <input type="checkbox" id="secondaryConcToggle" formControlName="secondary_concentration_flag">
                                <label for="secondaryConcToggle">{{this.editSampleForm.controls.secondary_concentration_flag.value ? "Yes" : "No"}}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="studySiteNameInput">Study Site Name</label>
                            <input id="studySiteNameInput" type="text" formControlName="study_site_name" >
                        </div>


                        <div class="form-group">
                            <label for="sampleDescInput">Sample Description</label>
                            <textarea id="sampleDescInput" rows="2" formControlName="sample_description" style="max-width:25em" ></textarea>
                        </div>

                        <div class="form-group">
                            <label for="samplerNameInput">Sampler Name</label>
                            <input id="samplerNameInput" type="text" formControlName="sampler_name">
                        </div>

                        <div class="form-group">
                            <label for="collectStartDateInput" class="required">Collection Start Date</label>
                            <input type="date" id="collectStartDateInput" formControlName="collection_start_date" >
                        </div>

                        <!--begin variable display section-->

                        <div class="form-group">
                            <label for="collectStartTime">Collection Start Time (HHmm)</label>
                            <input id="collectStartTime" type="text" formControlName="collection_start_time">
                        </div>

                        <div class="form-group">
                            <label for="collectEndDateInput">Collection End Date</label>
                            <input type="date" id="collectEndDateInput" formControlName="collection_end_date" >
                        </div>

                        <div class="form-group">
                            <label for="collectEndTime">Collection End Time (HHmm)</label>
                            <input id="collectEndTime" type="text" formControlName="collection_end_time">
                        </div>

                        <div class="form-group">
                            <label for="pumpRateInput">Pump Flow rate</label>
                            <input id="pumpRateInput" type="text" formControlName="pump_flow_rate">
                        </div>

                        <div class="form-group">
                            <label for="meter_reading_initialInput" >Initial Meter Reading</label>
                                <input type="text" id="meter_reading_initialInput" formControlName="meter_reading_initial">
                            <div class="select">
                                <select id="meter_reading_initialUnitSelect" formControlName="meter_reading_unit">
                                    <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fmrInput">Final Meter Reading</label>
                                <input type="text" id="fmrInput" formControlName="meter_reading_final">
                                <label>{{addSampleForm.controls.meter_reading_unit.value}}</label>
                        </div>

                        <div class="form-group">
                            <label for="tvsInput">Total Volume Sampled</label>
                                <input type="text" id="tvsInput" formControlName="tvs">
                            <div class="select">
                                <select id="tvsUnitSelect" formControlName="total_volume_sampled_unit_initial">
                                    <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="volPostDiluteInput">Volume After Dilution</label>
                            <input id="volPostDiluteInput" type="text" formControlName="post_dilution_volume">
                        </div>

                        <!--come back and make this a dropdown -->
                        <div class="form-group">
                            <label for="filterTypeInput">Filter Type</label>
                            <input id="filterTypeInput" type="text" formControlName="filter_type">
                        </div>

                        <div class="form-group">
                            <label for="filterBornOnDateInput">Collection Start Date</label>
                            <input type="date" id="filterBornOnDateInput" formControlName="filter_born_on_date" >
                        </div>

                        <div class="form-group">
                            <label for="dissVolInput">Dissolution Volume (mL)</label>
                            <input id="dissVolInput" type="text" formControlName="air_subsample_volume">
                        </div>

                        <div class="form-group">
                            <label for="eluteDateInput">Elution Date</label>
                            <input type="date" id="eluteDateInput" formControlName="elution_date" >
                        </div>

                        <div class="form-group">
                            <label for="eluteNotesInput">Elution Notes</label>
                            <textarea id="eluteNotesInput" rows="2" formControlName="elution_notes" style="max-width:25em"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="techInitInput">Tech Intials</label>
                            <input id="techInitInput" type="text" formControlName="technician_initials">
                        </div>

                        <div class="form-group">
                            <label for="eluteVolInput">Eluent/Backflush Volume Used</label>
                            <input id="eluteVolInput" type="text" formControlName="sample_volume_initial">
                        </div>


                        <button class="btn btn-primary" type="submit" [disabled]="editSampleForm.invalid">Save Edits</button>
                        <button class="btn btn-info" (click)="showHideEdit = !showHideEdit">Cancel</button>
                    </section>
                    <!--<p>Form value: {{ editSampleForm.value | json }}</p>
                    <p>Form status: {{ editSampleForm.status | json }}</p> -->
                    </form>
            </div>
            <!--<div class="col-lg-6">
                <form id="editPegnegForm" class="compact" [formGroup]="editSampleForm" (ngSubmit)="onSubmit()" [hidden]="submitted" >
                    <section class="form-block">
                        <label>Peg Neg Control</label>
                    </section>
                </form>
            </div>-->

        </div>
    </div>
    <!--<div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showHideEdit = !showHideEdit">Cancel</button>
        <button type="submit" class="btn btn-primary"  [disabled]="editSampleForm.invalid">Save Edits</button>
    </div>-->
</clr-modal>
<!-- end edit sample modal -->

<!-- begin samples table -->
<div class="row"> 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    All Samples
                </div>
                <div class="card-text">
                    <clr-datagrid>

                        <clr-dg-column class="no-padding ten">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Edit
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'sample_id'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Sample ID
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'study'">
                             <ng-container *clrDgHideableColumn="{hidden: false}">
                                Study Name
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'collaborator_sample_id'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                 Collaborator Sample ID
                            </ng-container>
                        </clr-dg-column>

                         <clr-dg-column [clrDgField]="'collaborator_sample_id'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                 Original Collaborator Sample ID
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'sample_type'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Sample Type
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column  style="width:20em" [clrDgField]="'sample_description'" >
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Sample Description
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'matrix_type'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Matrix
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'filter_flag'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Filtered
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'secondary_concentration_flag'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               2° Conc
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'sample_volume_filtered'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Vol filtered
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'meter_reading_initial'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               IMR
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'meter_reading_final'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               FMR
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'air_subsample_volume'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Air Subsample Volume (mL)
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'post_dilution_volume'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Volume After Dilution (uL)
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'filter_type'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Filter Type
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'filter_born_on_date'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Filter Born On Date
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'collection_start_date'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Collect Start Date
                            </ng-container>
                        </clr-dg-column>
                        
                        <clr-dg-column [clrDgField]="'collection_end_date'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Collect End Date
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'study_site_name'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Study Site Name
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'sampler_name'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Sampler Name
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column style="width:20em" [clrDgField]="'sample_notes'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                               Sample Notes
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'insert_user'">
                             <ng-container *clrDgHideableColumn="{hidden: false}">
                                   Added by
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'insert_date'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                 Date added
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'update_user'">
                             <ng-container *clrDgHideableColumn="{hidden: false}">
                                 Updated by
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'update_date'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                 Date updated
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-row *clrDgItems="let sample of allSamples" >
                            <clr-dg-cell>
                                 <div class="btn-group">
                                    <!--<button class="btn btn-sm btn-link" (click)="showHideEdit = !showHideEdit" ><clr-icon shape="note-edit" size="16"></clr-icon></button>-->
                                    <button class="btn btn-sm btn-link" (click)="editSample(sample)"><clr-icon shape="note-edit" size="16"></clr-icon></button>
                                </div>
                            </clr-dg-cell>
                            <clr-dg-cell>{{sample.sample_id}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.study}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.collaborator_sample_id}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.sample_type}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.sample_description}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.matrix_type}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.filter_flag? "Yes" : "No"}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.secondary_concentration_flag ? "Yes" : "No"}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.samp_vol_filt}} {{sample.total_volume_sampled_unit_initial}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.meter_reading_initial}}  {{sample.meter_reading_unit}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.meter_reading_final}}  {{sample.meter_reading_unit}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.air_subsample_volume}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.post_dilution_volume}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.filter_type}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.filter_born_on_date}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.collection_start_date | date:'yyyy-MM-dd'}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.collection_end_date | date:'shortDate'}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.study_site_name}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.sampler_name}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.sample_notes}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.insert_user}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.insert_date | date:'shortDate'}}</clr-dg-cell>
                            <clr-dg-cell>{{sample.update_user }}</clr-dg-cell>
                            <clr-dg-cell>{{sample.update_date | date:'shortDate'}}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} samples
                            <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div> 
            </div>
        </div>
    </div>
</div>
<!-- end samples table -->



