<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
        <div class="btn-group">
            <button class="btn btn-sm" (click)="showHideAdd = !showHideAdd">Add Sample</button>
            <button class="btn btn-sm" (click)="showHideEdit = !showHideEdit" [disabled]=" studySelected ? null : showHideAdd ? null: 'disabled' ">Edit Study</button>
            <button class="btn btn-sm" [disabled]="studySelected ? null : 'disabled'" (click)="deleteStudyConfirm = true">Delete Study</button>
        </div>
    </div>
</div>

<!--Add sample card --> 
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" *ngIf="showHideAdd" >
        <div class="card">
            <div class="card-block">
                <div class="card-title">Add Sample</div>
                <div class="card-text">
                <form id="addStudyForm" class="compact" [formGroup]="addStudyForm" (ngSubmit)="onSubmit()" [hidden]="submitted" >
                <section class="form-block">
                    <!--<label>Add Study</label>-->

                    <div class="form-group">
                    <label>Study name</label>
                    <label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addStudyForm.get('name').invalid && (addStudyForm.get('name').dirty || addStudyForm.get('name').touched)">
                        <input id="name" type="text" formControlName="name" size="40">
                        <span class="tooltip-content">Name is required.</span>
                    </label>
                    </div>

                    <div class="form-group">
                    <label for="sampleType">Sample type</label>
                    <div class="select">
                        <select id="sampleType"
                            name="employeeType"
                            [(ngModel)]="model.employeeType">
                            <option value="Default">Select Employee Type...</option>
                            <option *ngFor="let type of employeeType" [value]="type">{{type}}</option>
                        </select>
                    </div>
                    </div>

                    <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" type="text" formControlName="description" rows="3"></textarea>
                    <!--<label for="description" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addStudyForm.get('description').invalid && (addStudyForm.get('description').dirty || addStudyForm.get('description').touched)">
                        <input id="description" type="text" formControlName="description">
                        <span class="tooltip-content">Description is required.</span>
                    </label>-->
                    </div>

                    <button class="btn btn-primary" type="submit" [disabled]="addStudyForm.invalid">Add</button>
                    <button class="btn btn-info" (click)="showHideAdd = !showHideAdd">Cancel</button>
                </section>
                <p>Form value: {{ addStudyForm.value | json }}</p>
                <p>Form status: {{ addStudyForm.status | json }}</p> 
                </form>
                </div> 
            </div>
        </div>
    </div>


