.datagrid .datagrid-column, .datagrid .datagrid-cell .no-padding  {
    padding: 0px

}

.ten {
    min-width: 4em;
}

.input-small-number {
    width: 5em;
}

.last-spot-border {
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
}

.fcsv-input {
    width: 5em;
}

.text-bold {
    font-style: bold !important;
}

.suggestions {
    // display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.suggestions a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.box-section-label {
    font-style: bold !important;
    font-size: larger;
}

.max-size-indicator {
    font-style: italic !important;
}

.suggestions a:hover {background-color: #ddd}

.pegneg-list-update {
    // background-color: lightgray;
}