.datagrid .datagrid-column, .datagrid .datagrid-cell .no-padding  {
    padding: 0px

}

.ten {
    min-width: 4em;
}

.label-skip-input {
    width: 5em;
}

.last-spot-border {
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
}