<clr-wizard #wizard [(clrWizardOpen)]="_extractOpen" clrWizardSize="xl">
    <clr-wizard-title>Extract Samples in Analysis Batch {{selectedAnalysisBatchID}}</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'" (click)="_extractOpen = false">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Select Targets</ng-template>

        <clr-datagrid [(clrDgSelected)]="selected">
            
            <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'code'">Code</clr-dg-column>
            <clr-dg-column [clrDgField]="'medium'">Medium</clr-dg-column>
            <clr-dg-column [clrDgField]="'type'">Type</clr-dg-column>

            <clr-dg-row *clrDgItems="let target of allTargets" [clrDgItem]="target">
                <clr-dg-cell>{{target.name}}</clr-dg-cell>
                <clr-dg-cell>{{target.code}}</clr-dg-cell>
                <clr-dg-cell>{{target.medium}}</clr-dg-cell>
                <clr-dg-cell>{{target.type}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{allTargets.length}} targets</clr-dg-footer>
        </clr-datagrid>
        Selected targets: <span *ngFor="let target of selected">{{target.name}} </span>

        <!-- <form id="selectTargetForm" class="compact" [formGroup]="selectTargetForm" (ngSubmit)="onSubmit()">
          <section class="form-block">
              <div class="form-group row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <label for="select_targets">qPCR targets</label>
                      <div class="select multiple">
                          <select id="select_targets" multiple formControlName="id" [(ngModel)]="selectedTargets">
                                  <option *ngFor="let target of allTargets" [value]="target">{{target.name}} ({{target.code}})</option>
                              </select>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <label>Selected Targets</label>
                      <ul class="list compact"> -->
        <!-- li below uses ngFor iterator on the selctedTargets ngModel established by the 'select_targets' select above -->
        <!-- <li *ngFor="let target of selectedTargets">{{target.name}} ({{target.code}})</li>
                      </ul>
                  </div>
              </div>
          </section>
      </form> -->
    </clr-wizard-page>
    <clr-wizard-page>
        <ng-template clrPageTitle>Extraction Data</ng-template>
        ...
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Page 3</ng-template>
        ...
    </clr-wizard-page>
</clr-wizard>