.dilution-factor-input {
    width: 5em;
}

.in-wizard-datagrid {
    max-width: 650px;
}

.text-bold {
    font-weight: bold;
}

.dynamic-column {
    width: 10em;
}

.sample-results-tab {
    width: 100%;
}

a {
    cursor: pointer;
}