<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="card-block">
      <div class="card-title">Users</div>
      <div class="card-text">

        <clr-datagrid [(clrDgSingleSelected)]="selectedUser">
          <!-- edit and delete CT buttons -->
          <clr-dg-action-bar>
            <div class="btn-group">
              <button class="btn btn-sm" (click)="showAddModal()">
                <clr-icon shape="plus"></clr-icon> Add</button>
              <button type="button" class="btn btn-sm btn-secondary" [disabled]="!selectedUser" (click)="editUser(selectedUser)">
                <clr-icon shape="note-edit" size="16"></clr-icon> Edit</button>
              <!-- <button type="button" class="btn btn-sm btn-secondary" [disabled]="!selectedUser" (click)="deleteUser(selectedUser)">
                <clr-icon shape="trash" size="16"></clr-icon> Delete</button> -->
            </div>
          </clr-dg-action-bar>

          <!-- table of all users -->
          <clr-dg-column [clrDgField]="'id'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              User ID
            </ng-container>
          </clr-dg-column>

          <clr-dg-column [clrDgField]="'name'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              User First Name
            </ng-container>
          </clr-dg-column>

          <clr-dg-column [clrDgField]="'description'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              User Last Name
            </ng-container>
          </clr-dg-column>

          <clr-dg-column [clrDgField]="'description'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              User Username
            </ng-container>
          </clr-dg-column>

          <clr-dg-column [clrDgField]="'description'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
              User Email
            </ng-container>
          </clr-dg-column>

          <clr-dg-row *clrDgItems="let user of Users" [clrDgItem]="user">
            <clr-dg-cell>{{user.id}}</clr-dg-cell>
            <clr-dg-cell>{{user.first_name}}</clr-dg-cell>
            <clr-dg-cell>{{user.last_name}}</clr-dg-cell>
            <clr-dg-cell>{{user.username}}</clr-dg-cell>
            <clr-dg-cell>{{user.email}}</clr-dg-cell>
          </clr-dg-row>

        </clr-datagrid>
      </div>
      <!-- end main user card text -->
    </div>
    <!-- end main user card block -->
  </div>
  <!-- end main user card -->
</div>

<!-- add user Modal -->
<clr-modal [(clrModalOpen)]="showHideAdd">
  <h3 class="modal-title">
    <clr-icon shape="plus"></clr-icon> Add User</h3>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <form id="addUserForm" class="compact" [formGroup]="addUserForm" (ngSubmit)="onSubmitUser('add', addUserForm.value)">

          <clr-alert [clrAlertType]="'alert-danger'" *ngIf="showUserCreateError">
            <div clr-alert-item class="alert-item">
              <span class="alert-text">Submission error. User not submitted. {{errorMessage}}</span>
              <div class="alert-actions">
                <a class="alert-action" (click)="onSubmitUser('add', addUserForm.value)">Try again</a>
              </div>
            </div>
          </clr-alert>

          <clr-alert [clrAlertType]="'alert-success'" *ngIf="showUserCreateSuccess">
            <div clr-alert-item class="alert-item">
              <span class="alert-text">User successfully submitted</span>
              <div class="alert-actions">
                <a class="alert-action" (click)="showHideAdd = false; showUserCreateSuccess = false">Close</a>
              </div>
            </div>
          </clr-alert>


          <section class="form-block">
            <div class="form-group">
              <label>First Name</label>
              <label for="first_name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addUserForm.get('first_name').invalid && (addUserForm.get('first_name').dirty || addUserForm.get('first_name').touched)">
                <input id="first_name" type="text" class="form-control" formControlName="first_name" size="30">
                <span class="tooltip-content">First Name is required.</span>
              </label>
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <label for="last_name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addUserForm.get('last_name').invalid && (addUserForm.get('last_name').dirty || addUserForm.get('last_name').touched)">
                <input id="last_name" type="text" class="form-control" formControlName="last_name" size="30">
                <span class="tooltip-content">Last Name is required.</span>
              </label>
            </div>
            <div class="form-group">
              <label>User Name</label>
              <label for="username" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addUserForm.get('username').invalid && (addUserForm.get('username').dirty || addUserForm.get('username').touched)">
                <input id="username" type="text" class="form-control" formControlName="username" size="30">
                <span class="tooltip-content">User Name is required.</span>
              </label>
            </div>
            <div class="form-group">
              <label>Email</label>
              <label for="email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addUserForm.get('email').invalid && (addUserForm.get('email').dirty || addUserForm.get('email').touched)">
                <input id="email" type="email" class="form-control" formControlName="email" size="30">
                <span class="tooltip-content">Email is required.</span>
              </label>
            </div>
          </section>
          <button class="btn btn-primary" type="submit" [disabled]="addUserForm.invalid" [clrLoading]="submitLoading">Submit</button>
          <button class="btn btn-info" (click)="showHideAdd = !showHideAdd">Close</button>

        </form>
      </div>
    </div>
  </div>
</clr-modal>

<!-- edit user Modal -->
<clr-modal [(clrModalOpen)]="showHideEdit">
  <h3 class="modal-title">
    <clr-icon shape="note-edit" size="16"></clr-icon> Edit User</h3>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <clr-alert [clrAlertType]="'alert-danger'" *ngIf="showUserEditError">
          <div clr-alert-item class="alert-item">
            <span class="alert-text">Submission error. User not edited.</span>
            <div class="alert-actions">
              <a class="alert-action" (click)="onSubmitUser('edit', editUserForm.value)">Try again</a>
            </div>
          </div>
        </clr-alert>

        <clr-alert [clrAlertType]="'alert-success'" *ngIf="showUserEditSuccess">
          <div clr-alert-item class="alert-item">
            <span class="alert-text">User successfully edited</span>
          </div>
        </clr-alert>

        <form id="editCTForm" class="compact" [formGroup]="editUserForm" (ngSubmit)="onSubmitUser('edit', editUserForm.value)">
          <section class="form-block">
            <label>Selected User: {{selectedUserFirstName}}</label>
            <div class="form-group">
              <label for="UserId">User ID</label>
              <input type="text" id="UserId" size="35" formControlName="id" readonly>
            </div>

            <div class="form-group">
              <label>First Name</label>
              <label for="first_name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="editUserForm.get('first_name').invalid && (editUserForm.get('first_name').dirty || editUserForm.get('first_name').touched)">
                <input id="first_name" type="text" formControlName="first_name" size="40">
                <span class="tooltip-content">First Name is required.</span>
              </label>
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <label for="last_name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="editUserForm.get('last_name').invalid && (editUserForm.get('last_name').dirty || editUserForm.get('last_name').touched)">
                <input id="last_name" type="text" formControlName="last_name" size="40">
                <span class="tooltip-content">First Name is required.</span>
              </label>
            </div>

            <div class="form-group">
              <label>User Name</label>
              <label for="username" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="editUserForm.get('username').invalid && (editUserForm.get('username').dirty || editUserForm.get('username').touched)">
                <input id="username" type="text" formControlName="username" size="40">
                <span class="tooltip-content">User Name is required.</span>
              </label>
            </div>

            <div class="form-group">
              <label>Email</label>
              <label for="email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="editUserForm.get('email').invalid && (editUserForm.get('email').dirty || editUserForm.get('email').touched)">
                <input id="email" type="email" formControlName="email" size="40">
                <span class="tooltip-content">Email is required with proper formatting.</span>
              </label>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="editUserForm.invalid" [clrLoading]="submitLoading">Save Edits</button>
            <button class="btn btn-info" (click)="showHideEdit = !showHideEdit">Close</button>

          </section>
        </form>
      </div>
    </div>
  </div>
</clr-modal>

<!-- delete User Modal -->
<clr-modal [(clrModalOpen)]="showHideDelete">
  <h3 class="modal-title">
    <clr-icon shape="note-edit" size="16"></clr-icon> Delete User</h3>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <clr-alert [clrAlertType]="'alert-danger'" *ngIf="showUserDeleteError">
          <div clr-alert-item class="alert-item">
            <span class="alert-text">Submission error. User not deleted.</span>
            <div class="alert-actions">
              <a class="alert-action" (click)="submitDelete()">Try again</a>
            </div>
          </div>
        </clr-alert>

        <clr-alert [clrAlertType]="'alert-success'" *ngIf="showUserDeleteSuccess">
          <div clr-alert-item class="alert-item">
            <span class="alert-text">User successfully deleted.</span>
          </div>
        </clr-alert>

        <div *ngIf="!showUserDeleteSuccess">
          <p>Are you sure you want to delete the user
            <b>{{selectedUserFirstName}}</b> ?</p>

          <button class="btn btn-primary" type="button" (click)="submitDelete()" [clrLoading]="submitLoading">Delete</button>
          <button class="btn btn-info" (click)="showHideDelete = !showHideDelete">Close</button>
        </div>
      </div>
    </div>
  </div>
</clr-modal>