<!--<div class="row">-->
<!-- Units table -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="card">
		<div class="card-block">
			<div class="card-title">Units</div>
			<div class="card-text">
				<clr-datagrid [(clrDgSingleSelected)]="selectedUnit">
					<!-- edit and delete Unit buttons -->
					<clr-dg-action-bar>
						<div class="btn-group">
							<button class="btn btn-sm" (click)="showAddModal()">
								<clr-icon shape="plus"></clr-icon> Add </button>
							<button type="button" class="btn btn-sm btn-secondary" [disabled]="!selectedUnit" (click)="editUnit(selectedUnit)">
								<clr-icon shape="note-edit" size="16"></clr-icon> Edit</button>
							<!-- <button type="button" class="btn btn-sm btn-secondary" [disabled]="!selectedUnit" (click)="deleteUnit(selectedUnit)">
								<clr-icon shape="trash" size="16"></clr-icon> Delete</button> -->
						</div>
					</clr-dg-action-bar>

					<!-- table of all units -->
					<clr-dg-column [clrDgField]="'id'">
						<ng-container *clrDgHideableColumn="{hidden: false}">
							Unit ID
						</ng-container>
					</clr-dg-column>

					<clr-dg-column [clrDgField]="'name'">
						<ng-container *clrDgHideableColumn="{hidden: false}">
							Unit Name
						</ng-container>
					</clr-dg-column>

					<clr-dg-column [clrDgField]="'description'">
						<ng-container *clrDgHideableColumn="{hidden: false}">
							Unit Description
						</ng-container>
					</clr-dg-column>

					<clr-dg-row *clrDgItems="let u of Units" [clrDgItem]="u">
						<clr-dg-cell>{{u.id}}</clr-dg-cell>
						<clr-dg-cell>{{u.name}}</clr-dg-cell>
						<clr-dg-cell>{{u.description}}</clr-dg-cell>
					</clr-dg-row>
				</clr-datagrid>
			</div>
			<!-- end main Unit card text -->
		</div>
		<!-- end main Unit card block -->
	</div>
	<!-- end main Unit card -->
</div>

<!-- add Unit Modal -->
<clr-modal [(clrModalOpen)]="showHideAdd">
	<h3 class="modal-title">
		<clr-icon shape="plus"></clr-icon> Add Unit</h3>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-12">
				<form id="addUnitForm" class="compact" [formGroup]="addUnitForm" (ngSubmit)="onSubmitUnit('add', addUnitForm.value)">
					<div class="card-block">
						<clr-alert [clrAlertType]="'alert-danger'" *ngIf="showUnitCreateError">
							<div clr-alert-item class="alert-item">
								<span class="alert-text">Submission error. Unit not submitted. {{errorMessage}}</span>
								<div class="alert-actions">
									<a class="alert-action" (click)="onSubmitUnit('add', addUnitForm.value)">Try again</a>
								</div>
							</div>
						</clr-alert>

						<clr-alert [clrAlertType]="'alert-success'" *ngIf="showUnitCreateSuccess">
							<div clr-alert-item class="alert-item">
								<span class="alert-text">Unit successfully submitted</span>
								<div class="alert-actions">
									<a class="alert-action" (click)="showHideAdd = false; showUnitCreateSuccess = false">Close</a>
								</div>
							</div>
						</clr-alert>

						<section class="form-block">
							<div class="form-group">
								<label class="required">Name</label>
								<label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="addUnitForm.get('name').invalid && (addUnitForm.get('name').dirty || addUnitForm.get('name').touched)">
									<input id="name" type="text" class="form-control" formControlName="name" size="30">
									<span class="tooltip-content">Name is required.</span>
								</label>
							</div>
							<div class="form-group">
								<label>Description</label>
								<label for="description" aria-haspopup="true" role="tooltip" class="tooltip tooltip-sm">
									<textarea id="description" type="text" class="form-control" formControlName="description" rows="2" cols="30" style="max-width:25em"></textarea>
								</label>
							</div>
						</section>

					</div>
					<div class="card-footer">
						<button class="btn btn-primary" type="submit" [disabled]="addUnitForm.invalid" [clrLoading]="submitLoading">Submit</button>
						<button class="btn btn-info" (click)="showHideAdd = !showHideAdd">Close</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</clr-modal>

<!-- edit Unit Modal -->
<clr-modal [(clrModalOpen)]="showHideEdit">
	<h3 class="modal-title">
		<clr-icon shape="note-edit" size="16"></clr-icon> Edit Unit</h3>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-12">
				<clr-alert [clrAlertType]="'alert-danger'" *ngIf="showUnitEditError">
					<div clr-alert-item class="alert-item">
						<span class="alert-text">Submission error. Unit not edited.</span>
						<div class="alert-actions">
							<a class="alert-action" (click)="onSubmitUnit('edit', editUnitForm.value)">Try again</a>
						</div>
					</div>
				</clr-alert>

				<clr-alert [clrAlertType]="'alert-success'" *ngIf="showUnitEditSuccess">
					<div clr-alert-item class="alert-item">
						<span class="alert-text">Unit successfully edited</span>
					</div>
				</clr-alert>

				<form id="editUnitForm" class="compact" [formGroup]="editUnitForm" (ngSubmit)="onSubmitUnit('edit', editUnitForm.value)">
					<section class="form-block">
						<label>Selected Unit: {{selectedUnitName}}</label>
						<div class="form-group">
							<label for="UnitId">Unit ID</label>
							<input type="text" id="UnitId" size="35" formControlName="id" readonly>
						</div>

						<div class="form-group">
							<label class="required">Name</label>
							<label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="editUnitForm.get('name').invalid && (editUnitForm.get('name').dirty || editUnitForm.get('name').touched)">
								<input id="name" type="text" formControlName="name" size="40">
								<span class="tooltip-content">Name is required.</span>
							</label>
						</div>

						<div class="form-group">
							<label>Description</label>
							<label for="description" aria-haspopup="true" role="tooltip" class="tooltip tooltip-sm">
								<textarea id="description" type="text" formControlName="description" rows="2" style="max-width:25em"></textarea>
							</label>
						</div>

						<button class="btn btn-primary" type="submit" [disabled]="editUnitForm.invalid" [clrLoading]="submitLoading">Save Edits</button>
						<button class="btn btn-info" (click)="showHideEdit = !showHideEdit">Close</button>

					</section>
				</form>
			</div>
		</div>
	</div>
</clr-modal>

<!-- delete Unit type Modal -->
<clr-modal [(clrModalOpen)]="showHideDelete">
	<h3 class="modal-title">
		<clr-icon shape="trash" size="16"></clr-icon> Delete Unit</h3>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-12">
				<clr-alert [clrAlertType]="'alert-danger'" *ngIf="showUnitDeleteError">
					<div clr-alert-item class="alert-item">
						<span class="alert-text">Submission error. Unit not deleted.</span>
						<div class="alert-actions">
							<a class="alert-action" (click)="submitDelete()">Try again</a>
						</div>
					</div>
				</clr-alert>

				<clr-alert [clrAlertType]="'alert-success'" *ngIf="showUnitDeleteSuccess">
					<div clr-alert-item class="alert-item">
						<span class="alert-text">Unit successfully deleted.</span>
					</div>
				</clr-alert>

				<div *ngIf="!showUnitDeleteSuccess">
					<p>Are you sure you want to delete the unit
						<b>{{selectedUnitName}}</b> ?</p>

					<button class="btn btn-primary" type="button" (click)="submitDelete()" [clrLoading]="submitLoading">Delete</button>
					<button class="btn btn-info" (click)="showHideDelete = !showHideDelete">Close</button>
				</div>
			</div>
		</div>
	</div>
</clr-modal>
<!--</div>-->