<button class="btn btn-primary" (click)="printPDF()">Print Labels</button>
<div #sampleLabel id="sampleLabel">

  <div>
    <table class="table">
      <!-- R 1  --> <!-- 1   18  35  52  69 -->
      <!-- R 2  --> <!-- 2   19  36  53  70 -->
      <!-- R 3  --> <!-- 3   20  37  54  71 -->
      <!-- R 4  --> <!-- 4   21  38  55  72 -->
      <!-- R 5  --> <!-- 5   22  39  56  73 -->
      <!-- R 6  --> <!-- 6   23  40  57  74 -->
      <!-- R 7  --> <!-- 7   24  41  58  75 -->
      <!-- R 8  --> <!-- 8   25  42  59  76 -->
      <!-- R 9  --> <!-- 9   26  43  60  77 -->
      <!-- R 10 --> <!-- 10  27  44  61  78 -->
      <!-- R 11 --> <!-- 11  28  45  62  79 -->
      <!-- R 12 --> <!-- 12  29  46  63  80 -->
      <!-- R 13 --> <!-- 13  30  47  64  81 -->
      <!-- R 14 --> <!-- 14  31  48  65  82 -->
      <!-- R 15 --> <!-- 15  32  49  66  83 -->
      <!-- R 16 --> <!-- 16  33  50  67  84 -->
      <!-- R 17 --> <!-- 17  34  51  68  85 -->

      <tr > 
        <td>1</td><td>18</td><td>35</td><td>52</td><td>69</td>
      </tr>
    </table>
  </div>
</div>