<button class="btn btn-primary" (click)="printLabelPDF()"><clr-icon shape="printer"></clr-icon> Download PDF</button>
<div #sampleLabel id="sampleLabel">

  <div>
    <table #labelTable1 class="table" *ngIf="labelAliquots.length > 0">      
      <!-- R 1.1  -->  <!-- 1   18  35  52  69 -->
      <tr> 
        <td>{{labelAliquots[0]?.aliquot_string || " "}}<br/>{{labelAliquots[0]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[17]?.aliquot_string || " "}}<br/>{{labelAliquots[17]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[34]?.aliquot_string || " "}}<br/>{{labelAliquots[34]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[51]?.aliquot_string || " "}}<br/>{{labelAliquots[51]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[68]?.aliquot_string|| ""}}<br/>{{labelAliquots[68]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 2.1  -->  <!-- 2   19  36  53  70 -->
      <tr> 
        <td>{{labelAliquots[1]?.aliquot_string || " "}}<br/>{{labelAliquots[1]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[18]?.aliquot_string || " "}}<br/>{{labelAliquots[18]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[35]?.aliquot_string || " "}}<br/>{{labelAliquots[35]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[52]?.aliquot_string || " "}}<br/>{{labelAliquots[52]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[69]?.aliquot_string || " "}}<br/>{{labelAliquots[69]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 3.1  -->  <!-- 3   20  37  54  71 -->
      <tr> 
        <td>{{labelAliquots[2]?.aliquot_string || " "}}<br/>{{labelAliquots[2]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[19]?.aliquot_string || " "}}<br/>{{labelAliquots[19]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[36]?.aliquot_string || " "}}<br/>{{labelAliquots[36]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[53]?.aliquot_string || " "}}<br/>{{labelAliquots[53]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[70]?.aliquot_string || " "}}<br/>{{labelAliquots[70]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 4.1  -->  <!-- 4   21  38  55  72 -->
      <tr> 
        <td>{{labelAliquots[3]?.aliquot_string || " "}}<br/>{{labelAliquots[3]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[20]?.aliquot_string || " "}}<br/>{{labelAliquots[20]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[37]?.aliquot_string || " "}}<br/>{{labelAliquots[37]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[54]?.aliquot_string || " "}}<br/>{{labelAliquots[54]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[71]?.aliquot_string || " "}}<br/>{{labelAliquots[71]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 5.1  -->  <!-- 5   22  39  56  73 -->
      <tr> 
        <td>{{labelAliquots[4]?.aliquot_string || " "}}<br/>{{labelAliquots[4]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[21]?.aliquot_string || " "}}<br/>{{labelAliquots[21]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[38]?.aliquot_string || " "}}<br/>{{labelAliquots[38]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[55]?.aliquot_string || " "}}<br/>{{labelAliquots[55]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[72]?.aliquot_string || " "}}<br/>{{labelAliquots[72]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 6.1  -->  <!-- 6   23  40  57  74 -->
      <tr> 
        <td>{{labelAliquots[5]?.aliquot_string || " "}}<br/>{{labelAliquots[5]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[22]?.aliquot_string || " "}}<br/>{{labelAliquots[22]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[39]?.aliquot_string || " "}}<br/>{{labelAliquots[39]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[56]?.aliquot_string || " "}}<br/>{{labelAliquots[56]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[73]?.aliquot_string || " "}}<br/>{{labelAliquots[73]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 7.1  -->  <!-- 7   24  41  58  75 -->
      <tr> 
        <td>{{labelAliquots[6]?.aliquot_string || " "}}<br/>{{labelAliquots[6]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[23]?.aliquot_string || " "}}<br/>{{labelAliquots[23]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[40]?.aliquot_string || " "}}<br/>{{labelAliquots[40]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[57]?.aliquot_string || " "}}<br/>{{labelAliquots[57]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[74]?.aliquot_string || " "}}<br/>{{labelAliquots[74]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 8.1  -->  <!-- 8   25  42  59  76 -->
      <tr> 
        <td>{{labelAliquots[7]?.aliquot_string || " "}}<br/>{{labelAliquots[7]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[24]?.aliquot_string || " "}}<br/>{{labelAliquots[24]?.collaborator_sample_id|| ""}}</td>
        <td>{{labelAliquots[41]?.aliquot_string || " "}}<br/>{{labelAliquots[41]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[58]?.aliquot_string || " "}}<br/>{{labelAliquots[58]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[75]?.aliquot_string || " "}}<br/>{{labelAliquots[75]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 9.1  -->  <!-- 9   26  43  60  77 -->
      <tr> 
        <td>{{labelAliquots[8]?.aliquot_string || " "}}<br/>{{labelAliquots[8]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[25]?.aliquot_string || " "}}<br/>{{labelAliquots[25]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[42]?.aliquot_string || " "}}<br/>{{labelAliquots[42]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[59]?.aliquot_string || " "}}<br/>{{labelAliquots[59]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[76]?.aliquot_string || " "}}<br/>{{labelAliquots[76]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 10.1 -->  <!-- 10  27  44  61  78 -->
      <tr> 
        <td>{{labelAliquots[9]?.aliquot_string || " "}}<br/>{{labelAliquots[9]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[26]?.aliquot_string || " "}}<br/>{{labelAliquots[26]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[43]?.aliquot_string || " "}}<br/>{{labelAliquots[43]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[60]?.aliquot_string || " "}}<br/>{{labelAliquots[60]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[77]?.aliquot_string || " "}}<br/>{{labelAliquots[77]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 11.1 -->  <!-- 11  28  45  62  79 -->
      <tr> 
        <td>{{labelAliquots[10]?.aliquot_string || " "}}<br/>{{labelAliquots[10]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[27]?.aliquot_string || " "}}<br/>{{labelAliquots[27]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[44]?.aliquot_string || " "}}<br/>{{labelAliquots[44]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[61]?.aliquot_string || " "}}<br/>{{labelAliquots[61]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[78]?.aliquot_string || " "}}<br/>{{labelAliquots[78]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 12.1 -->  <!-- 12  29  46  63  80 -->
      <tr> 
        <td>{{labelAliquots[11]?.aliquot_string || " "}}<br/>{{labelAliquots[11]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[28]?.aliquot_string || " "}}<br/>{{labelAliquots[28]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[45]?.aliquot_string || " "}}<br/>{{labelAliquots[45]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[62]?.aliquot_string || " "}}<br/>{{labelAliquots[62]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[79]?.aliquot_string || " "}}<br/>{{labelAliquots[79]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 13.1 -->  <!-- 13  30  47  64  81 -->
      <tr> 
        <td>{{labelAliquots[12]?.aliquot_string || " "}}<br/>{{labelAliquots[12]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[29]?.aliquot_string || " "}}<br/>{{labelAliquots[29]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[46]?.aliquot_string || " "}}<br/>{{labelAliquots[46]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[63]?.aliquot_string || " "}}<br/>{{labelAliquots[63]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[80]?.aliquot_string || " "}}<br/>{{labelAliquots[80]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 14.1 -->  <!-- 14  31  48  65  82 -->
      <tr> 
        <td>{{labelAliquots[13]?.aliquot_string || " "}}<br/>{{labelAliquots[13]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[30]?.aliquot_string || " "}}<br/>{{labelAliquots[30]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[47]?.aliquot_string || " "}}<br/>{{labelAliquots[47]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[64]?.aliquot_string || " "}}<br/>{{labelAliquots[64]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[81]?.aliquot_string || " "}}<br/>{{labelAliquots[81]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 15.1 -->  <!-- 15  32  49  66  83 -->
      <tr> 
        <td>{{labelAliquots[14]?.aliquot_string || " "}}<br/>{{labelAliquots[14]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[31]?.aliquot_string || " "}}<br/>{{labelAliquots[31]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[48]?.aliquot_string || " "}}<br/>{{labelAliquots[48]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[65]?.aliquot_string || " "}}<br/>{{labelAliquots[65]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[82]?.aliquot_string || " "}}<br/>{{labelAliquots[82]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 16.1 -->  <!-- 16  33  50  67  84 -->
      <tr> 
        <td>{{labelAliquots[15]?.aliquot_string || " "}}<br/>{{labelAliquots[15]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[32]?.aliquot_string || " "}}<br/>{{labelAliquots[32]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[49]?.aliquot_string || " "}}<br/>{{labelAliquots[49]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[66]?.aliquot_string || " "}}<br/>{{labelAliquots[66]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[83]?.aliquot_string || " "}}<br/>{{labelAliquots[83]?.collaborator_sample_id || " "}}</td>
      </tr>
      <!-- R 17.1 -->  <!-- 17  34  51  68  85 -->
      <tr> 
        <td>{{labelAliquots[16]?.aliquot_string || " "}}<br/>{{labelAliquots[16]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[33]?.aliquot_string || " "}}<br/>{{labelAliquots[33]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[50]?.aliquot_string || " "}}<br/>{{labelAliquots[50]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[67]?.aliquot_string || " "}}<br/>{{labelAliquots[67]?.collaborator_sample_id || " "}}</td>
        <td>{{labelAliquots[84]?.aliquot_string || " "}}<br/>{{labelAliquots[84]?.collaborator_sample_id || " "}}</td>
      </tr>
    </table>
    <!-- end first page -->
    <!-- start if second page -->
    <div *ngIf="labelAliquots.length > 85">
      <br/>
      <div style="text-align:center;"> ------------------ Next Page ------------------ </div>
      <table #labelTable2 class="table">
        <!-- would stop here , unless they are skipping. then length would be more than 85. -->
        <!-- R 1.2 -->  <!-- 86	103	120	137	154 -->
        <tr> 
          <td>{{labelAliquots[85]?.aliquot_string || " "}}<br/>{{labelAliquots[85]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[102]?.aliquot_string || " "}}<br/>{{labelAliquots[102]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[119]?.aliquot_string || " "}}<br/>{{labelAliquots[119]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[136]?.aliquot_string || " "}}<br/>{{labelAliquots[136]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[153]?.aliquot_string || " "}}<br/>{{labelAliquots[153]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 2.2 --> <!-- 87	104	121	138	155 -->
        <tr> 
          <td>{{labelAliquots[86]?.aliquot_string || " "}}<br/>{{labelAliquots[86]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[103]?.aliquot_string || " "}}<br/>{{labelAliquots[103]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[120]?.aliquot_string || " "}}<br/>{{labelAliquots[120]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[137]?.aliquot_string || " "}}<br/>{{labelAliquots[137]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[154]?.aliquot_string || " "}}<br/>{{labelAliquots[154]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 3.2 -->  <!-- 88	105	122	139	156 -->
        <tr> 
          <td>{{labelAliquots[87]?.aliquot_string || " "}}<br/>{{labelAliquots[87]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[104]?.aliquot_string || " "}}<br/>{{labelAliquots[104]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[121]?.aliquot_string || " "}}<br/>{{labelAliquots[121]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[138]?.aliquot_string || " "}}<br/>{{labelAliquots[138]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[155]?.aliquot_string || " "}}<br/>{{labelAliquots[155]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 4.2 -->  <!-- 89	106	123	140	157 -->
        <tr> 
          <td>{{labelAliquots[88]?.aliquot_string || " "}}<br/>{{labelAliquots[88]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[105]?.aliquot_string || " "}}<br/>{{labelAliquots[105]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[122]?.aliquot_string || " "}}<br/>{{labelAliquots[122]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[139]?.aliquot_string || " "}}<br/>{{labelAliquots[139]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[156]?.aliquot_string || " "}}<br/>{{labelAliquots[156]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 5.2 -->  <!-- 90	107	124	141	158 -->
        <tr> 
          <td>{{labelAliquots[89]?.aliquot_string || " "}}<br/>{{labelAliquots[89]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[106]?.aliquot_string || " "}}<br/>{{labelAliquots[106]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[123]?.aliquot_string || " "}}<br/>{{labelAliquots[123]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[140]?.aliquot_string || " "}}<br/>{{labelAliquots[140]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[157]?.aliquot_string || " "}}<br/>{{labelAliquots[157]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 6.2 -->  <!-- 91	108	125	142	159 -->
        <tr> 
          <td>{{labelAliquots[90]?.aliquot_string || " "}}<br/>{{labelAliquots[90]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[107]?.aliquot_string || " "}}<br/>{{labelAliquots[107]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[124]?.aliquot_string || " "}}<br/>{{labelAliquots[124]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[141]?.aliquot_string || " "}}<br/>{{labelAliquots[141]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[158]?.aliquot_string || " "}}<br/>{{labelAliquots[158]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 7.2 -->  <!-- 92	109	126	143	160 -->
        <tr> 
          <td>{{labelAliquots[91]?.aliquot_string || " "}}<br/>{{labelAliquots[91]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[108]?.aliquot_string || " "}}<br/>{{labelAliquots[108]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[125]?.aliquot_string || " "}}<br/>{{labelAliquots[125]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[142]?.aliquot_string || " "}}<br/>{{labelAliquots[142]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[159]?.aliquot_string || " "}}<br/>{{labelAliquots[159]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 8.2 -->  <!-- 93	110	127	144	161 -->
        <tr> 
          <td>{{labelAliquots[92]?.aliquot_string || " "}}<br/>{{labelAliquots[92]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[109]?.aliquot_string || " "}}<br/>{{labelAliquots[109]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[126]?.aliquot_string || " "}}<br/>{{labelAliquots[126]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[143]?.aliquot_string || " "}}<br/>{{labelAliquots[143]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[160]?.aliquot_string || " "}}<br/>{{labelAliquots[160]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 9.2 -->  <!-- 94	111	128	145	162 -->
        <tr> 
          <td>{{labelAliquots[93]?.aliquot_string || " "}}<br/>{{labelAliquots[93]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[110]?.aliquot_string || " "}}<br/>{{labelAliquots[110]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[127]?.aliquot_string || " "}}<br/>{{labelAliquots[127]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[144]?.aliquot_string || " "}}<br/>{{labelAliquots[144]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[161]?.aliquot_string || " "}}<br/>{{labelAliquots[161]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 10.2 -->  <!-- 95	112	129	146	163 -->
        <tr> 
          <td>{{labelAliquots[94]?.aliquot_string || " "}}<br/>{{labelAliquots[94]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[111]?.aliquot_string || " "}}<br/>{{labelAliquots[111]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[128]?.aliquot_string || " "}}<br/>{{labelAliquots[128]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[145]?.aliquot_string || " "}}<br/>{{labelAliquots[145]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[162]?.aliquot_string || " "}}<br/>{{labelAliquots[162]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 11.2 -->  <!-- 96	113	130	147	164 -->
        <tr> 
          <td>{{labelAliquots[95]?.aliquot_string || " "}}<br/>{{labelAliquots[95]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[112]?.aliquot_string || " "}}<br/>{{labelAliquots[112]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[129]?.aliquot_string || " "}}<br/>{{labelAliquots[129]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[146]?.aliquot_string || " "}}<br/>{{labelAliquots[146]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[163]?.aliquot_string || " "}}<br/>{{labelAliquots[163]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 12.2 -->  <!-- 97	114	131	148	165 -->
        <tr> 
          <td>{{labelAliquots[96]?.aliquot_string || " "}}<br/>{{labelAliquots[96]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[113]?.aliquot_string || " "}}<br/>{{labelAliquots[113]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[130]?.aliquot_string || " "}}<br/>{{labelAliquots[130]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[147]?.aliquot_string || " "}}<br/>{{labelAliquots[147]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[164]?.aliquot_string || " "}}<br/>{{labelAliquots[164]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 13.2 -->  <!-- 98	115	132	149	166 -->
        <tr> 
          <td>{{labelAliquots[97]?.aliquot_string || " "}}<br/>{{labelAliquots[97]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[114]?.aliquot_string || " "}}<br/>{{labelAliquots[114]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[131]?.aliquot_string || " "}}<br/>{{labelAliquots[131]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[148]?.aliquot_string || " "}}<br/>{{labelAliquots[148]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[165]?.aliquot_string || " "}}<br/>{{labelAliquots[165]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 14.2 -->  <!-- 99	116	133	150	167 -->
        <tr> 
          <td>{{labelAliquots[98]?.aliquot_string || " "}}<br/>{{labelAliquots[98]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[115]?.aliquot_string || " "}}<br/>{{labelAliquots[115]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[132]?.aliquot_string || " "}}<br/>{{labelAliquots[132]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[149]?.aliquot_string || " "}}<br/>{{labelAliquots[149]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[166]?.aliquot_string || " "}}<br/>{{labelAliquots[166]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 15.2 -->  <!-- 100	117	134	151	168 -->
        <tr> 
          <td>{{labelAliquots[99]?.aliquot_string || " "}}<br/>{{labelAliquots[99]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[116]?.aliquot_string || " "}}<br/>{{labelAliquots[116]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[133]?.aliquot_string || " "}}<br/>{{labelAliquots[133]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[150]?.aliquot_string || " "}}<br/>{{labelAliquots[150]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[167]?.aliquot_string || " "}}<br/>{{labelAliquots[167]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 16.2 -->  <!-- 101	118	135	152	169 -->
        <tr> 
          <td>{{labelAliquots[100]?.aliquot_string || " "}}<br/>{{labelAliquots[100]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[117]?.aliquot_string || " "}}<br/>{{labelAliquots[117]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[134]?.aliquot_string || " "}}<br/>{{labelAliquots[134]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[151]?.aliquot_string || " "}}<br/>{{labelAliquots[151]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[168]?.aliquot_string || " "}}<br/>{{labelAliquots[168]?.collaborator_sample_id || " "}}</td>
        </tr>
        <!-- R 17.2 -->  <!-- 102	119	136	153	170 -->
        <tr> 
          <td>{{labelAliquots[101]?.aliquot_string || " "}}<br/>{{labelAliquots[101]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[118]?.aliquot_string || " "}}<br/>{{labelAliquots[118]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[135]?.aliquot_string || " "}}<br/>{{labelAliquots[135]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[152]?.aliquot_string || " "}}<br/>{{labelAliquots[152]?.collaborator_sample_id || " "}}</td>
          <td>{{labelAliquots[169]?.aliquot_string || " "}}<br/>{{labelAliquots[169]?.collaborator_sample_id || " "}}</td>
        </tr>          
      </table>
    </div> 
    <!-- end if second page -->
    <!-- start if third page -->
    <div *ngIf="labelAliquots.length > 170">
        <br/>
        <div style="text-align:center;"> ------------------ Next Page ------------------ </div>
        <table #labelTable3 class="table">          
          <!-- R 1.3 -->  <!-- 171	188	205	222	239 -->
          <tr> 
            <td>{{labelAliquots[170]?.aliquot_string || " "}}<br/>{{labelAliquots[170]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[187]?.aliquot_string || " "}}<br/>{{labelAliquots[187]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[204]?.aliquot_string || " "}}<br/>{{labelAliquots[204]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[221]?.aliquot_string || " "}}<br/>{{labelAliquots[221]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[238]?.aliquot_string || " "}}<br/>{{labelAliquots[238]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 2.3 --> <!-- 172	189	206	223	240 -->
          <tr> 
            <td>{{labelAliquots[171]?.aliquot_string || " "}}<br/>{{labelAliquots[171]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[188]?.aliquot_string || " "}}<br/>{{labelAliquots[188]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[205]?.aliquot_string || " "}}<br/>{{labelAliquots[205]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[222]?.aliquot_string || " "}}<br/>{{labelAliquots[222]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[239]?.aliquot_string || " "}}<br/>{{labelAliquots[239]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 3.3 -->  <!-- 173	190	207	224	241 -->
          <tr> 
            <td>{{labelAliquots[172]?.aliquot_string || " "}}<br/>{{labelAliquots[172]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[189]?.aliquot_string || " "}}<br/>{{labelAliquots[189]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[206]?.aliquot_string || " "}}<br/>{{labelAliquots[206]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[223]?.aliquot_string || " "}}<br/>{{labelAliquots[223]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[240]?.aliquot_string || " "}}<br/>{{labelAliquots[240]?.collaborator_sample_id || " "}}</td>
          </tr> 
          <!-- R 4.3 -->  <!-- 174	191	208	225	242 -->
          <tr> 
            <td>{{labelAliquots[173]?.aliquot_string || " "}}<br/>{{labelAliquots[173]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[190]?.aliquot_string || " "}}<br/>{{labelAliquots[190]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[207]?.aliquot_string || " "}}<br/>{{labelAliquots[207]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[224]?.aliquot_string || " "}}<br/>{{labelAliquots[224]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[241]?.aliquot_string || " "}}<br/>{{labelAliquots[241]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 5.3 -->  <!-- 175	192	209	226	243 -->
          <tr> 
            <td>{{labelAliquots[174]?.aliquot_string || " "}}<br/>{{labelAliquots[174]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[191]?.aliquot_string || " "}}<br/>{{labelAliquots[191]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[208]?.aliquot_string || " "}}<br/>{{labelAliquots[208]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[225]?.aliquot_string || " "}}<br/>{{labelAliquots[225]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[242]?.aliquot_string || " "}}<br/>{{labelAliquots[242]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 6.3 -->  <!-- 176	193	210	227	244 -->
          <tr> 
            <td>{{labelAliquots[175]?.aliquot_string || " "}}<br/>{{labelAliquots[175]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[192]?.aliquot_string || " "}}<br/>{{labelAliquots[192]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[209]?.aliquot_string || " "}}<br/>{{labelAliquots[209]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[226]?.aliquot_string || " "}}<br/>{{labelAliquots[226]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[243]?.aliquot_string || " "}}<br/>{{labelAliquots[243]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 7.3 -->  <!-- 177	194	211	228	245 -->
          <tr> 
            <td>{{labelAliquots[176]?.aliquot_string || " "}}<br/>{{labelAliquots[176]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[193]?.aliquot_string || " "}}<br/>{{labelAliquots[193]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[210]?.aliquot_string || " "}}<br/>{{labelAliquots[210]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[227]?.aliquot_string || " "}}<br/>{{labelAliquots[227]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[244]?.aliquot_string || " "}}<br/>{{labelAliquots[244]?.collaborator_sample_id || " "}}</td>
          </tr>   
          <!-- R 8.3 -->  <!-- 178	195	212	229	246 -->
          <tr> 
            <td>{{labelAliquots[177]?.aliquot_string || " "}}<br/>{{labelAliquots[177]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[194]?.aliquot_string || " "}}<br/>{{labelAliquots[194]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[211]?.aliquot_string || " "}}<br/>{{labelAliquots[211]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[228]?.aliquot_string || " "}}<br/>{{labelAliquots[228]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[245]?.aliquot_string || " "}}<br/>{{labelAliquots[245]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 9.3 -->  <!-- 179	196	213	230	247 -->
          <tr> 
            <td>{{labelAliquots[178]?.aliquot_string || " "}}<br/>{{labelAliquots[178]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[195]?.aliquot_string || " "}}<br/>{{labelAliquots[195]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[212]?.aliquot_string || " "}}<br/>{{labelAliquots[212]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[229]?.aliquot_string || " "}}<br/>{{labelAliquots[229]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[246]?.aliquot_string || " "}}<br/>{{labelAliquots[246]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 10.3 -->  <!-- 180	197	214	231	248 -->
          <tr> 
            <td>{{labelAliquots[179]?.aliquot_string || " "}}<br/>{{labelAliquots[179]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[196]?.aliquot_string || " "}}<br/>{{labelAliquots[196]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[213]?.aliquot_string || " "}}<br/>{{labelAliquots[213]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[230]?.aliquot_string || " "}}<br/>{{labelAliquots[230]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[247]?.aliquot_string || " "}}<br/>{{labelAliquots[247]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 11.3 -->  <!-- 181	198	215	232	249 -->
          <tr> 
            <td>{{labelAliquots[180]?.aliquot_string || " "}}<br/>{{labelAliquots[180]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[197]?.aliquot_string || " "}}<br/>{{labelAliquots[197]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[214]?.aliquot_string || " "}}<br/>{{labelAliquots[214]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[231]?.aliquot_string || " "}}<br/>{{labelAliquots[231]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[248]?.aliquot_string || " "}}<br/>{{labelAliquots[248]?.collaborator_sample_id || " "}}</td>
          </tr> 
          <!-- R 12.3 -->  <!-- 182	199	216	233	250 -->
          <tr> 
            <td>{{labelAliquots[181]?.aliquot_string || " "}}<br/>{{labelAliquots[181]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[198]?.aliquot_string || " "}}<br/>{{labelAliquots[198]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[215]?.aliquot_string || " "}}<br/>{{labelAliquots[215]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[232]?.aliquot_string || " "}}<br/>{{labelAliquots[232]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[249]?.aliquot_string || " "}}<br/>{{labelAliquots[249]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 13.3 -->  <!-- 183	200	217	234	251 -->
          <tr> 
            <td>{{labelAliquots[182]?.aliquot_string || " "}}<br/>{{labelAliquots[182]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[199]?.aliquot_string || " "}}<br/>{{labelAliquots[199]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[216]?.aliquot_string || " "}}<br/>{{labelAliquots[216]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[233]?.aliquot_string || " "}}<br/>{{labelAliquots[233]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[250]?.aliquot_string || " "}}<br/>{{labelAliquots[250]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 14.3 -->  <!-- 184	201	218	235	252 -->
          <tr> 
            <td>{{labelAliquots[183]?.aliquot_string || " "}}<br/>{{labelAliquots[183]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[200]?.aliquot_string || " "}}<br/>{{labelAliquots[200]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[217]?.aliquot_string || " "}}<br/>{{labelAliquots[217]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[234]?.aliquot_string || " "}}<br/>{{labelAliquots[234]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[251]?.aliquot_string || " "}}<br/>{{labelAliquots[251]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 15.3 -->  <!-- 185	202	219	236	253 -->
          <tr> 
            <td>{{labelAliquots[184]?.aliquot_string || " "}}<br/>{{labelAliquots[184]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[201]?.aliquot_string || " "}}<br/>{{labelAliquots[201]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[218]?.aliquot_string || " "}}<br/>{{labelAliquots[218]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[235]?.aliquot_string || " "}}<br/>{{labelAliquots[235]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[252]?.aliquot_string || " "}}<br/>{{labelAliquots[252]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 16.3 -->  <!-- 186	203	220	237	254 -->
          <tr> 
            <td>{{labelAliquots[185]?.aliquot_string || " "}}<br/>{{labelAliquots[185]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[202]?.aliquot_string || " "}}<br/>{{labelAliquots[202]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[219]?.aliquot_string || " "}}<br/>{{labelAliquots[219]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[236]?.aliquot_string || " "}}<br/>{{labelAliquots[236]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[253]?.aliquot_string || " "}}<br/>{{labelAliquots[253]?.collaborator_sample_id || " "}}</td>
          </tr>
          <!-- R 17.3 -->  <!-- 187	204	221	238	255 -->
          <tr> 
            <td>{{labelAliquots[186]?.aliquot_string || " "}}<br/>{{labelAliquots[186]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[203]?.aliquot_string || " "}}<br/>{{labelAliquots[203]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[220]?.aliquot_string || " "}}<br/>{{labelAliquots[220]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[237]?.aliquot_string || " "}}<br/>{{labelAliquots[237]?.collaborator_sample_id || " "}}</td>
            <td>{{labelAliquots[254]?.aliquot_string || " "}}<br/>{{labelAliquots[254]?.collaborator_sample_id || " "}}</td>
          </tr>          
        </table>
      </div> <!-- end if second page -->
  </div>
</div>