@media print {
    #batchWorksheet {
      width: 210mm;
      height: 297mm;
    }
    /* ... the rest of the rules ... */
}
table thead tr th {
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}
#topLeftTable, #topRightTable, #bottomTable {
    border: none;
}

#topLeftTable tr td:first-child {
    padding:2px;
    border: none;
    width:25%;
    font-weight: bold;
    text-align: right;
}
#topLeftTable tr td:last-child {    
    padding:2px;
    padding-left: 5px;
    border: none;
    text-align: left;
}

#topRightTable tr td:nth-child(odd) {
    padding:2px;
    border: none;
    width:37%;
    font-weight: bold;
    text-align: right;
}
#topRightTable tr td:nth-child(even){
    padding:2px;
    padding-left: 5px;
    border: none;
    text-align: left;
}
#batchWorksheet{
    background: white;
  }
#sampleTable {
    border-collapse: collapse;
    border-left: black 1px solid;
    border-right: black 1px solid;
}

#sampleTable tbody tr td, #sampleTable thead tr th {
    border: black 1px solid;
}

#targetTable {
    border: 0;
    border-collapse: collapse;
    border-bottom: black 1px solid;
    /* border-spacing:0 0px;*/
}

#bottomTable tr td:nth-child(odd) {
    padding:2px;
    border: none;
    width:47%;
    font-weight: bold;
    text-align: right;
}
#bottomTable tr td:nth-child(even) {
    padding:2px;
    padding-left: 5px;
    border: none;
    text-align: left;
}
  table thead tr th {
    border-bottom: black 1px solid;
    border-top: black 1px solid;
    border-spacing: 5px 5px;
  }
  .line_break{
    width:100%;
    color: black;
    background-color: rgba(255,255,255,.5);
    border: none;
    border-bottom: 1px solid black;
  }

  #notesSpace {      
      min-height: 200px;
      height: 200px;
  }
  