<!--<div class="card">
    <div class="card-block">
        <div class="card-title">
            All Studies
        </div>
        <div class="card-text">
          <p-dataTable [value]="allStudies" [editable]="editable ? 'true': false" selectionMode="multiple" [(selection)]="selectedStudies" (onRowSelect)="onRowSelect($event)">
            <p-column field="study_name" header="Name"  [sortable]="true" [filter]="true" filterPlaceholder="Search" [editable]="true"></p-column>
            <p-column field="study_desc" header="Description" [editable]="true"></p-column>
            <p-column field="insert_user" header="Added by"  [sortable]="true"></p-column>
            <p-column field="insert_date" header="Date added"  [sortable]="true"></p-column>
             <p-footer>
                <ul>
                    <li *ngFor="let study of selectedStudies" style="text-align: left">{{study.study_name}}</li>
                </ul>
            </p-footer>
          </p-dataTable>
        </div> 
    </div>
</div>-->

<!-- not updated to the server-driven datagrid style -->
<div class="card">
    <div class="card-block">
        <div class="card-title">
            All Studies - Clarity UI grid
        </div>
        <div class="card-text">
            <clr-datagrid>
                <clr-dg-column>Name</clr-dg-column>
                <clr-dg-column>Description</clr-dg-column>
                <clr-dg-column>Added by</clr-dg-column>
                <clr-dg-column>Date added</clr-dg-column>

                <clr-dg-row *ngFor="let study of allStudies">
                    <clr-dg-cell>{{study.study_name}}</clr-dg-cell>
                    <clr-dg-cell>{{study.study_desc}}</clr-dg-cell>
                    <clr-dg-cell>{{study.insert_user}}</clr-dg-cell>
                    <clr-dg-cell>{{study.insert_date}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer></clr-dg-footer>
            </clr-datagrid>
        </div> 
    </div>
</div>