// Color Variables
// Color Variables
// Color Variables
$black: #050920;
$lightbg: #F9FAFE;
$text: #313b57;
$textlight: #a0afcd;
$white: #ffffff;

$blue: #4332FF;
$red: #FC3F47;



$cardshadow: 0 1px 0 1.35px rgba(10,16,64,.08);
$transition: 0.15s;