.text-larger {
    font-size: larger;
}

.text-purple {
    color: purple;
}

.list {
    width: 95%;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}

.list-item {
    margin: 0.25em
}

.list-section {
    margin-bottom: 1em;
}