.modal .stack-view {
    display:inline-block !important;
    height: 100% !important;
    margin-bottom: 0 !important;
}

.clr-modal .clr-stack-view {
    display:inline-block !important;
    height: 100% !important;
    margin-bottom: 0 !important;
}

.target-select-datagrid {
    max-height: 24em;
}

.target-count-input {
    width: 5em;
}