<!--may not need a create AB button, creation will be done from samples page -->
<!-- <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="btn-group">
            <button class="btn btn-sm" (click)="showHideAdd = !showHideAdd">Create New Analysis Batch</button>
        </div>
    </div>
</div> -->


<!-- begin Analysis batches table -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    All Analysis Batches
                </div>
                <div class="card-text">
                    <clr-datagrid [(clrDgSelected)]="selected">

                        <clr-dg-action-bar>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary" [disabled]="selected.length == 0 || selected.length > 1" (click)="editAB(selected[0])"><clr-icon shape="note-edit"size="16"></clr-icon> Edit Analysis Batch</button>
                                <button type="button" class="btn btn-sm btn-secondary"><clr-icon shape="login"></clr-icon> Extract</button>
                                <!--<button type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="printer"></clr-icon> Go</button>
                                <button type="button" class="btn btn-sm btn-secondary" > <clr-icon shape="trash"></clr-icon> Up</button>
                                <button type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="note-edit"size="16"></clr-icon> Here</button> -->

                            </div>
                        </clr-dg-action-bar>

                        <clr-dg-column [clrDgField]="'analysis_batch_id'">
                            Analysis Batch ID
                            <clr-dg-filter [clrDgFilter]="rangeFilter">
                                <range-filter #rangeFilter></range-filter>
                            </clr-dg-filter>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'ab_description'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Analysis Batch Description
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'studies'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Studies
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'extractions'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Extractions
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'rts'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                RTs
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'inhibitions'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Inhibitions
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'targets'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Targets
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column>
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Analaysis Batch Notes
                            </ng-container>
                        </clr-dg-column>


                        <!-- <clr-dg-column>
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Samples
                            </ng-container>
                        </clr-dg-column> -->

                        <clr-dg-column [clrDgField]="'insert_user'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Added by
                            </ng-container>
                        </clr-dg-column>

                        <!-- filter column header for date added -->
                        <clr-dg-column [clrDgField]="'insert_date'">
                            Date Added
                            <clr-dg-filter [clrDgFilter]="dateAddedFilter">
                                <date-added-filter [dateField]="'insert_date'" #dateAddedFilter></date-added-filter>
                            </clr-dg-filter>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'update_user'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Updated by
                            </ng-container>
                        </clr-dg-column>

                        <!-- filter column header for date updated -->
                        <clr-dg-column [clrDgField]="'update_date'">
                            Date Updated
                            <clr-dg-filter [clrDgFilter]="dateUpdatedFilter">
                                <date-updated-filter [dateField]="'update_date'" #dateUpdatedFilter></date-updated-filter>
                            </clr-dg-filter>
                        </clr-dg-column>

                        <!-- begin data table rows -->

                        <clr-dg-row *clrDgItems="let ab of allAnalysisBatches" [clrDgItem]="ab">

                            <clr-dg-cell>{{ab.id}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.analysis_batch_description}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.studies}}</clr-dg-cell>

                            <clr-dg-cell>{{ab.extractions}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.rts}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.inhibitions}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.targets}}</clr-dg-cell>

                            <clr-dg-cell>{{ab.analysis_batch_notes}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.insert_user}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.insert_date | date:'shortDate'}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.update_user }}</clr-dg-cell>
                            <clr-dg-cell>{{ab.update_date | date:'shortDate'}}</clr-dg-cell>

                            <analysis-batch-detail *clrIfExpanded [selectedAnalysisBatch]="ab" ngProjectAs="clr-dg-row-detail"></analysis-batch-detail>

                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} samples
                            <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end samples table -->