.modal .stack-view {
    display:inline-block !important;
    height: 100% !important;
    margin-bottom: 0 !important;
}

.clr-modal .clr-stack-view {
    display:inline-block !important;
    height: 100% !important;
    margin-bottom: 0 !important;
}

.target-select-datagrid {
    //max-height: 24em;
}

.target-count-input {
    width: 5em;
}

.study-list-select {
    height: 24em !important;
}

select[multiple], select[size] {
    height: 22em !important;
}

.remove-sample {
    margin: 1em;
}

.datagrid .datagrid-column, .datagrid .datagrid-cell .no-padding  {
    padding: 0px

}


label.required:after{
    content: "*";
    font-size: 1.1em;
    color: #c92100;
    margin-left: 6px;
}

.text-italic {
    font-style: italic;
}

.text-small {
    font-size: small;
}