.modal .stack-view {
    display:inline-block !important;
    height: 100% !important;
    margin-bottom: 0 !important;
}

.clr-modal .clr-stack-view {
    display:inline-block !important;
    height: 100% !important;
    margin-bottom: 0 !important;
}

.target-select-datagrid {
    max-height: 24em;
}

.target-count-input {
    width: 5em;
}

.study-list-select {
    height: 24em !important;
}

select[multiple], select[size] {
    height: 22em !important;
}

.remove-sample {
    margin: 1em;
}

.datagrid .datagrid-column, .datagrid .datagrid-cell .no-padding  {
    padding: 0px

}
