<!--may not need a create AB button, creation will be done from samples page -->
<!-- <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="btn-group">
            <button class="btn btn-sm" (click)="showHideAdd = !showHideAdd">Create New Analysis Batch</button>
        </div>
    </div>
</div> -->

<clr-wizard #wizardExtract [(clrWizardOpen)]="extractOpen" clrWizardSize="xl">
    <clr-wizard-title>Extract Samples in Analysis Batch {{selectedAnalysisBatchID}}</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="">
        <ng-template clrPageTitle>Aliquot Selection</ng-template>
        <div class="row">
            <div class="col-lg-10 col-md-10">
                <p>Select an aliquot for each Sample in this Analysis Batch

                    <!-- <form class="compact">
                        <section class="form-block">
                           <div formArrayName="aliquots">
                               <div *ngFor="let aliquot of aliquots.controls; let i=index" [formGroupName]="i">

                               </div>
                           </div>
                        </section>
                    </form> -->


            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>

    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="selected.length < 1" (clrWizardPageCustomButton)="doCustomClick($event)">
        <ng-template clrPageTitle>Target Selection</ng-template>
        <div class="row">
            <div class="col-lg-10 col-md-10">
                <p>Select targets to analyze for this extraction from the table below
                    <clr-datagrid class="target-select-datagrid" [(clrDgSelected)]="selected">

                        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
                        <clr-dg-column [clrDgField]="'code'">Code</clr-dg-column>
                        <clr-dg-column [clrDgField]="'medium'">Medium</clr-dg-column>
                        <clr-dg-column [clrDgField]="'type'">Type</clr-dg-column>

                        <clr-dg-row *clrDgItems="let target of allTargets" [clrDgItem]="target">
                            <clr-dg-cell>{{target.name}}</clr-dg-cell>
                            <clr-dg-cell>{{target.code}}</clr-dg-cell>
                            <clr-dg-cell>{{target.medium}}</clr-dg-cell>
                            <clr-dg-cell>{{target.type}}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>{{allTargets.length}} targets</clr-dg-footer>
                    </clr-datagrid>

            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>
        <ng-template clrPageButtons>
            <clr-wizard-button [type]="'custom-cancel'">Cancel</clr-wizard-button>
            <clr-wizard-button [type]="'custom-previous'">Back</clr-wizard-button>
            <clr-wizard-button [type]="'custom-next'">Next</clr-wizard-button>
        </ng-template>

    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Replicate Count</ng-template>

        <p>Select desired number of replicates for each selected target. To update the targets list, return to Target Selection
            page.
            <form class="compact">
                <section class="form-block">
                    <div class="form-group" *ngFor="let target of selected">
                        <label>{{target.name}} ({{target.code}})</label>
                        <input type="number" class="target-count-input" [(ngModel)]="target.count" name="targetCount">
                    </div>
                </section>
            </form>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Extraction Data</ng-template>
        <form id="addExtractionForm" class="compact" [formGroup]="addExtractionForm" (ngSubmit)="onSubmit('add', addExtractionForm.value)">
            <section class="form-block">

                <div class="form-group">
                    <label for="extractVol">Extraction Volume</label>
                    <input id="extractVol" type="text" size="10" formControlName="extraction_volume">
                </div>

                <div class="form-group">
                    <label for="elutionVol">Elution Volume</label>
                    <input id="elutionVol" type="text" size="10" formControlName="elution_volume">
                </div>

                <div class="form-group">
                    <label for="elutionVol">Extraction Method</label>
                    <div class="select">
                        <select id="extractionMethodSelect" name="extraction_method" formControlName="extraction_method">
                            <option *ngFor="let method of allExtractionMethods" [value]="method.id">{{method.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="sampleDilution">Dilution of Sample</label>
                    <input id="sampleDilution" type="text" size="10" formControlName="sample_dilution_factor">
                </div>

                <div class="form-group">
                    <label for="extractionDateInput">Extraction Date</label>
                    <input type="date" id="extractionDateInput" formControlName="extraction_date">
                </div>

                <div class="form-group">
                    <label for="qpcrTemplateVol">qPCR Template Volume</label>
                    <input id="qpcrTemplateVol" type="text" size="10" formControlName="qpcr_template_volume">
                </div>

                <div class="form-group">
                    <label for="qpcrDateInput">qPCR Date</label>
                    <input type="date" id="qpcrDateInput" formControlName="qpcr_date">
                </div>



            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Reverse Transcription</ng-template>
        <clr-alert [clrAlertClosable]="false" *ngIf="rnaTargetsSelected">
            <div clr-alert-item class="alert-item">
                <span class="alert-text">
                        You have selected RNA targets for this extraction. Please enter RT data below.
                    </span>

            </div>
        </clr-alert>

        <clr-alert [clrAlertClosable]="false" *ngIf="!rnaTargetsSelected">
            <div clr-alert-item class="alert-item">
                <span class="alert-text">
                            You have not selected any RNA targets for this extraction. No RT record will be created. Please click Next to skip to the next step.
                        </span>

            </div>
        </clr-alert>

        <form id="addRTForm" class="compact" [formGroup]="addRTForm" (ngSubmit)="onSubmit('add', addRTForm.value)" *ngIf="rnaTargetsSelected">
            <section class="form-block">

                <div class="form-group">
                    <label for="templateVol">Template Volume</label>
                    <input id="templateVol" type="text" size="10" formControlName="template_volume">
                </div>

                <div class="form-group">
                    <label for="reactionVol">Reaction Volume</label>
                    <input id="reactionVol" type="text" size="10" formControlName="reaction_volume">
                </div>

                <div class="form-group">
                    <label for="rtDateInput" class="required">RT Date</label>
                    <input type="date" id="rtDateInput" formControlName="rt_date">
                </div>

            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Inhibition</ng-template>
        <div>

            <clr-alert [clrAlertClosable]="false" *ngIf="inhibitionsExist">
                <div clr-alert-item class="alert-item">
                    <span class="alert-text">
                            lili has detected an existing inhibition for this Analysis Batch
                            </span>
                    <div class="alert-actions">
                        <a class="alert-actions" (click)="showApplyExistingCard()">Apply Existing Inhibition</a>
                    </div>

                </div>
            </clr-alert>

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" *ngIf="!useExistingInhibition">
                    <div class="card">
                        <div class="card-header">
                            Create New Inhibition
                        </div>
                        <div class="card-block">
                            <div class="card-text">
                                <form id="addInhibitionForm" class="compact" [formGroup]="addInhibitionForm" (ngSubmit)="onSubmit('add', addInhibitionForm.value)">
                                    <section class="form-block">

                                        <div class="form-group">
                                            <label>Inhibition Type</label>
                                            <div class="radio">
                                                <input type="radio" name="type" value="DNA" formControlName="type" id="dnaRadio" checked>
                                                <label for="dnaRadio">DNA</label>
                                            </div>
                                            <div class="radio">
                                                <input type="radio" name="type" value="RNA" formControlName="type" id="rnaRadio">
                                                <label for="rnaRadio">RNA</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inhibitionDateInput">Inhibition Date</label>
                                            <input type="date" id="inhibitionDateInput" formControlName="inhibition_date">
                                        </div>

                                    </section>
                                </form>
                                <!-- <span>Inh type form value: {{addInhibitionForm.value | json}}</span> -->
                            </div>
                        </div>
                        <div class="card-footer" *ngIf="inhibitionsExist">
                            <button class="btn btn-sm btn-link" (click)="showApplyExistingCard()">Apply Existing Inhibition Instead</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="useExistingInhibition">
                    <div class="card">
                        <div class="card-header">
                            Apply Existing Inhibition
                        </div>
                        <div class="card-block">
                            <div class="card-text">
                                <form id="addExtractionForm" class="compact" [formGroup]="applyInhibition_batchForm" (ngSubmit)="onSubmit('add', applyInhibition_batchForm.value)">
                                    <section class="form-block">

                                        <div class="form-group">
                                            <label for="inhibitionDateInput">Inhibition Date (for new Inhibitions)</label>
                                            <input type="date" id="inhibitionDateInput" formControlName="inhibition_date">
                                        </div>

                                    </section>
                                </form>

                            </div>
                        </div>
                        <div class="card-block">
                            <div class="card-title">
                                Batch Level
                                <clr-signpost>
                                    <clr-signpost-content *clrIfOpen>
                                        <p>Make a single selection from exhisting inhibitions to apply to every DNA target and
                                            every RNA target for every sample in this batch. </p>
                                    </clr-signpost-content>
                                </clr-signpost>
                            </div>
                            <div class="card-text">
                                <form id="addExtractionForm" class="compact" [formGroup]="applyInhibition_batchForm" (ngSubmit)="onSubmit('add', applyInhibition_batchForm.value)">
                                    <section class="form-block">
                                        <!-- <label for="">Select an Inhibition per Target Type</label> -->
                                        <div class="form-group">
                                            <label for="elutionVol">Inhibition for DNA targets</label>
                                            <div class="select">
                                                <select id="inhibitionSelect_batchDNA" name="dnaInhibition" formControlName="dnaInhibition">
                                                    <option *ngFor="let inhibition of abInhibitions" [value]="inhibition.id">Inh-{{inhibition.id}} ({{inhibition.type}})</option>
                                                    <option [value]="0">Create New Inhibition</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="elutionVol">Inhibition for RNA targets</label>
                                            <div class="select">
                                                <select id="inhibitionSelect_batchRNA" name="rnaInhibition" formControlName="rnaInhibition">
                                                        <option *ngFor="let inhibition of abInhibitions" [value]="inhibition.id">Inh {{inhibition.id}} ({{inhibition.type}})</option>
                                                    <option>Create New Inhibition</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inhibitionDateInput">Inhibition Date (for new Inhibitions)</label>
                                            <input type="date" id="inhibitionDateInput" formControlName="inhibition_date">
                                        </div>

                                    </section>
                                </form>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="card-title">
                                Sample Level
                                <clr-signpost>
                                    <clr-signpost-content *clrIfOpen>
                                        <p>Select existing inhibitions to apply to every DNA target and every RNA target for
                                            each sample individually. </p>
                                    </clr-signpost-content>
                                </clr-signpost>
                            </div>
                            <div class="card-text">
                                <clr-datagrid>
                                    <clr-dg-column>Sample</clr-dg-column>
                                    <clr-dg-column>Inhibition for DNA Targets</clr-dg-column>
                                    <clr-dg-column>Inhibition for RNA Targets</clr-dg-column>

                                    <clr-dg-row *clrDgItems="let sample of inhibitionsPerSample">
                                        <clr-dg-cell>Sample {{sample.id}}</clr-dg-cell>
                                        <clr-dg-cell>
                                            <div class="select">
                                                <select id="" name="dnaInhibition">
                                                            <option *ngFor="let inhibition of abInhibitions" [value]="inhibition.id">Inh {{inhibition.id}} ({{inhibition.type}})</option>
                                                            <option>Create New Inhibition</option>
                                                        </select>
                                            </div>
                                        </clr-dg-cell>
                                        <clr-dg-cell>
                                            <div class="select">
                                                <select id="" name="dnaInhibition">
                                                            <option *ngFor="let inhibition of abInhibitions" [value]="inhibition.id">Inh {{inhibition.id}} ({{inhibition.type}})</option>
                                                            <option>Create New Inhibition</option>
                                                        </select>
                                            </div>
                                        </clr-dg-cell>
                                    </clr-dg-row>
                                    <clr-dg-footer>{{inhibitionsPerSample.length}} samples</clr-dg-footer>
                                </clr-datagrid>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="useExistingInhibition = false">Create New Inhibition</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <clr-dropdown>
                    <button type="button" class="btn btn-primary" clrDropdownTrigger>
                        Create Inhibition
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem>Create New Inhibition</button>
                        <button type="button" clrDropdownItem>Apply Existing Inhibition</button>
                    </clr-dropdown-menu>

                </clr-dropdown> -->


            <!-- <clr-dropdown>
                    <button class="dropdown-toggle btn btn-primary" type="button">
                        Options
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
                        <button type="button" clrDropdownItem>Create New Inhibition</button>
                        <button type="button" clrDropdownItem>Apply Existing Inhibition</button>
                    </clr-dropdown-menu>
                </clr-dropdown> -->
        </div>
    </clr-wizard-page>


</clr-wizard>

<!-- edit analysis batch modal -->
<clr-modal [(clrModalOpen)]="showHideEdit" [clrModalSize]="'xl'">
    <h3 class="modal-title">Edit Analysis Batch {{editABForm.value.id}}</h3>
    <div class="modal-body">

        <div class="row">
            <div class="col-lg-12">


                <clr-tabs>
                    <clr-tab>
                        <button clrTabLink>Details</button>
                        <ng-template [(clrIfActive)]="detailsActive">
                            <clr-tab-content>

                                <form id="editABForm" class="compact" [formGroup]="editABForm" (ngSubmit)="onSubmit('edit', editABForm.value)" [hidden]="submitted">
                                    <section class="form-block">

                                        <div class="form-group">
                                            <label for="studyId">Analysis Batch ID</label>
                                            <input type="text" id="studyId" size="35" formControlName="id" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="abDescInput">Analysis Batch Description</label>
                                            <textarea id="abDescInput" rows="2" formControlName="analysis_batch_description" style="max-width:25em"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="abNotesInput">Analysis Batch Notes</label>
                                            <textarea id="abNotesInput" rows="2" formControlName="analysis_batch_notes" style="max-width:25em"></textarea>
                                        </div>

                                        <button class="btn btn-primary" type="submit" [disabled]="editABForm.invalid">Save Edits</button>
                                        <button class="btn btn-info" (click)="showHideEdit = !showHideEdit">Cancel</button>

                                    </section>
                                </form>

                            </clr-tab-content>
                        </ng-template>
                    </clr-tab>

                    <clr-tab>
                        <button clrTabLink>Sample List</button>
                        <ng-template [(clrIfActive)]="sampleListActive">
                            <clr-tab-content>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <form [formGroup]="abSampleListForm">
                                            <section class="form-block">
                                                <label>Samples in this Analysis Batch  <span class="badge badge-light-blue">{{abSampleList.length}}</span> </label>
                                                <ul class="list">
                                                    <li *ngFor="let sample of abSampleList">{{sample.id}} ({{sample.study.name}})</li>
                                                </ul>
                                                <!-- <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-secondary remove-sample" (click)="removeSample(this.abSampleListForm.value)"><clr-icon shape="close"></clr-icon> Remove Selected</button>
                                                </div>
                                                <div class="select multiple study-list-select">
                                                    <select multiple formControlName="abSamples">
                                                        <option *ngFor="let sample of abSampleList" value="{{sample.id}}">{{sample.id}} ({{sample.study.name}})</option>
                                                     </select>
                                                </div> -->
                                            </section>
                                        </form>
                                    </div>
                                    <div class="col-lg-8">


                                        <clr-alert [clrAlertClosable]="false" *ngIf="sampleListEditLocked">
                                            <div clr-alert-item class="alert-item">
                                                <span class="alert-text">
                                                    This Analysis Batch has been extracted. Editing of the sample list is locked. 
                                                </span>

                                            </div>
                                        </clr-alert>

                                        <form *ngIf="!sampleListEditLocked">
                                            <section class="form-block">
                                                <label>All Samples <a href="" role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                                                        <clr-icon shape="info-circle" size="24"></clr-icon>
                                                        <span class="tooltip-content">Check/uncheck to add/remove Sample from Analysis Batch</span>
                                                    </a> 
                                                </label>
                                                <clr-datagrid class="target-select-datagrid" [(clrDgSelected)]="selected">
                                                    <!-- <clr-dg-action-bar>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add Selected</button>
                                                        </div>
                                                    </clr-dg-action-bar> -->

                                                    <!-- filter column header for Sample ID -->
                                                    <clr-dg-column [clrDgField]="'sample_id'">
                                                        Sample ID
                                                        <clr-dg-filter [clrDgFilter]="rangeFilter">

                                                            <range-filter #rangeFilter></range-filter>
                                                        </clr-dg-filter>
                                                    </clr-dg-column>

                                                    <clr-dg-column [clrDgField]="'collaborator_sample_id'">
                                                        <ng-container *clrDgHideableColumn="{hidden: false}">
                                                            Collaborator Sample ID
                                                        </ng-container>
                                                    </clr-dg-column>

                                                    <!-- filter column header for study -->
                                                    <clr-dg-column [clrDgField]="'study'">
                                                        Study
                                                        <clr-dg-filter [clrDgFilter]="studyFilter">
                                                            <study-filter #studyFilter></study-filter>
                                                        </clr-dg-filter>
                                                    </clr-dg-column>

                                                    <!-- filter column header for sample type -->
                                                    <clr-dg-column [clrDgField]="'sample_type'">
                                                        Sample Type
                                                        <clr-dg-filter [clrDgFilter]="sampleTypeFilter">
                                                            <sample-type-filter #sampleTypeFilter></sample-type-filter>
                                                        </clr-dg-filter>
                                                    </clr-dg-column>

                                                    <!-- filter column header for collection start date -->
                                                    <clr-dg-column [clrDgField]="'collection_start_date'">
                                                        Collect Start Date
                                                        <clr-dg-filter [clrDgFilter]="CollectionStartDateFilter">
                                                            <collection-start-date-filter [dateField]="'collection_start_date'" #CollectionStartDateFilter></collection-start-date-filter>
                                                        </clr-dg-filter>
                                                    </clr-dg-column>

                                                    <clr-dg-row *clrDgItems="let sample of allSamples" [clrDgItem]="sample">
                                                        <clr-dg-cell>{{sample.id}}</clr-dg-cell>
                                                        <clr-dg-cell>{{sample.collaborator_sample_id}}</clr-dg-cell>
                                                        <clr-dg-cell>{{sample.study.name}}</clr-dg-cell>
                                                        <clr-dg-cell>{{sample.sample_type. name}}</clr-dg-cell>
                                                        <clr-dg-cell>{{sample.collection_start_date | date:'shortDate'}}</clr-dg-cell>
                                                    </clr-dg-row>

                                                    <clr-dg-footer>{{allSamples.length}} samples</clr-dg-footer>
                                                </clr-datagrid>
                                            </section>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button class="btn btn-primary" type="submit" [disabled]="editABForm.invalid || sampleListEditLocked" (click)="updateABSampleList(editABForm.value.id,selected)">Save Edits</button>
                                        <button class="btn btn-info" (click)="showHideEdit = !showHideEdit">Cancel</button>
                                    </div>
                                </div>
                            </clr-tab-content>
                        </ng-template>
                    </clr-tab>
                </clr-tabs>
            </div>
        </div>
    </div>

</clr-modal>

<!-- begin extraction detail modal -->
<clr-modal [(clrModalOpen)]="showHideExtractionDetailModal" [clrModalSize]="'m'">
    <h3 class="modal-title">Extraction Details</h3>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-12">

                <clr-stack-view>
                    <clr-stack-header>Extractions in Analysis Batch {{focusAnalysisBatchID}} </clr-stack-header>

                    <clr-stack-block *ngFor="let extraction of extractionDetailArray">
                        <clr-stack-label>Extraction # {{extraction.extraction_no}}</clr-stack-label>
                        <clr-stack-content></clr-stack-content>
                        <clr-stack-block>
                            <clr-stack-label>Extraction Volume</clr-stack-label>
                            <clr-stack-content>{{extraction.extraction_volume}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Elution Volume</clr-stack-label>
                            <clr-stack-content>{{extraction.elution_volume}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Extraction Method</clr-stack-label>
                            <clr-stack-content>{{extraction.extraction_method}}</clr-stack-content>
                        </clr-stack-block>
                    </clr-stack-block>

                </clr-stack-view>

            </div>
        </div>



    </div>
    <!--<div class="modal-footer">        </div>-->
</clr-modal>
<!-- end extraction detail modal -->

<!-- begin inhibition detail modal -->
<clr-modal [(clrModalOpen)]="showHideInhibitionDetailModal" [clrModalSize]="'m'">
    <h3 class="modal-title">Inhibition Details</h3>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-12">

                <clr-stack-view>
                    <clr-stack-header>Inhibitions in Analysis Batch {{focusAnalysisBatchID}} </clr-stack-header>

                    <clr-stack-block *ngFor="let inhibition of inhibitionDetailArray">
                        <clr-stack-label>Inhibition {{inhibition.id}}</clr-stack-label>
                        <clr-stack-content></clr-stack-content>
                        <clr-stack-block>
                            <clr-stack-label>Inhibition Date</clr-stack-label>
                            <clr-stack-content>{{inhibition.insert_date | date:'shortDate'}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Type</clr-stack-label>
                            <clr-stack-content>{{inhibition.type}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Dilution</clr-stack-label>
                            <clr-stack-content>{{inhibition.dilution}}</clr-stack-content>
                        </clr-stack-block>
                    </clr-stack-block>

                </clr-stack-view>

            </div>
        </div>
    </div>
    <!--<div class="modal-footer">        </div>-->
</clr-modal>
<!-- end inhibition detail modal -->

<!-- begin RT detail modal -->
<clr-modal [(clrModalOpen)]="showHideRTDetailModal" [clrModalSize]="'m'">
    <h3 class="modal-title">RT Details</h3>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-12">

                <clr-stack-view>
                    <clr-stack-header>RTs in Analysis Batch {{focusAnalysisBatchID}} </clr-stack-header>

                    <clr-stack-block *ngFor="let rt of rtDetailArray" [clrSbExpanded]="true">
                        <clr-stack-label>RT # {{rt.reverse_transcription_no}}</clr-stack-label>
                        <clr-stack-content></clr-stack-content>
                        <clr-stack-block [clrSbExpanded]="true">
                            <clr-stack-label>Volume In</clr-stack-label>
                            <clr-stack-content>{{rt.vol_in}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block [clrSbExpanded]="true">
                            <clr-stack-label>Volume Out</clr-stack-label>
                            <clr-stack-content>{{rt.vol_out}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block [clrSbExpanded]="true">
                            <clr-stack-label>Cq Value</clr-stack-label>
                            <clr-stack-content>{{rt.rt_cq}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block [clrSbExpanded]="true">
                            <clr-stack-label>Date</clr-stack-label>
                            <clr-stack-content>{{rt.insert_date | date:'shortDate' }}</clr-stack-content>
                        </clr-stack-block>
                    </clr-stack-block>

                </clr-stack-view>

            </div>
        </div>
    </div>
    <!--<div class="modal-footer">        </div>-->
</clr-modal>
<!-- end RTdetail modal -->



<!-- begin target detail modal -->
<clr-modal [(clrModalOpen)]="showHideTargetDetailModal" [clrModalSize]="'m'">
    <h3 class="modal-title">Extraction Details</h3>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-12">

                <clr-stack-view>
                    <clr-stack-header>Extractions in Analysis Batch {{focusAnalysisBatchID}} </clr-stack-header>

                    <clr-stack-block *ngFor="let item of focusDetailObject">
                        <clr-stack-label>Extraction {{item.extraction_no}}</clr-stack-label>
                        <clr-stack-content></clr-stack-content>
                        <clr-stack-block>
                            <clr-stack-label>Extraction Volume</clr-stack-label>
                            <clr-stack-content>{{item.extraction_volume}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Elution Volume</clr-stack-label>
                            <clr-stack-content>{{item.elution_volume}}</clr-stack-content>
                        </clr-stack-block>
                        <clr-stack-block>
                            <clr-stack-label>Extraction Method</clr-stack-label>
                            <clr-stack-content>{{item.extraction_method}}</clr-stack-content>
                        </clr-stack-block>
                    </clr-stack-block>

                </clr-stack-view>

            </div>
        </div>
    </div>
    <!--<div class="modal-footer">        </div>-->
</clr-modal>
<!-- end target detail modal -->



<!-- begin Analysis batches table -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    All Analysis Batches
                </div>
                <div class="card-text">
                    <clr-datagrid [(clrDgSingleSelected)]="selectedAB">

                        <clr-dg-action-bar>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-secondary" [disabled]="!selectedAB" (click)="editAB(selectedAB)"><clr-icon shape="note-edit"size="16"></clr-icon> Edit Analysis Batch</button>
                                <button type="button" class="btn btn-sm btn-secondary" [disabled]="!selectedAB" (click)="extractAB(selectedAB)"><clr-icon shape="login"></clr-icon> Extract</button>
                                <!--<button type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="printer"></clr-icon> Go</button>
                                <button type="button" class="btn btn-sm btn-secondary" > <clr-icon shape="trash"></clr-icon> Up</button>
                                <button type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="note-edit"size="16"></clr-icon> Here</button> -->

                            </div>
                        </clr-dg-action-bar>

                        <clr-dg-column [clrDgField]="'analysis_batch_id'">
                            Analysis Batch ID
                            <clr-dg-filter [clrDgFilter]="rangeFilter">
                                <range-filter #rangeFilter></range-filter>
                            </clr-dg-filter>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'ab_description'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Analysis Batch Description
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'studies'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Studies
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column>
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Extractions
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column>
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Inhibitions
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column>
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                RTs
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column>
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Targets
                            </ng-container>
                        </clr-dg-column>

                        <clr-dg-column>
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Analaysis Batch Notes
                            </ng-container>
                        </clr-dg-column>


                        <!-- <clr-dg-column>
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Samples
                            </ng-container>
                        </clr-dg-column> -->

                        <clr-dg-column [clrDgField]="'insert_user'">
                            <ng-container *clrDgHideableColumn="{hidden: false}">
                                Added by
                            </ng-container>
                        </clr-dg-column>

                        <!-- filter column header for date added -->
                        <clr-dg-column [clrDgField]="'insert_date'">
                            Date Added
                            <clr-dg-filter [clrDgFilter]="dateAddedFilter">
                                <date-added-filter [dateField]="'insert_date'" #dateAddedFilter></date-added-filter>
                            </clr-dg-filter>
                        </clr-dg-column>

                        <clr-dg-column [clrDgField]="'update_user'">
                            <ng-container *clrDgHideableColumn="{hidden: true}">
                                Updated by
                            </ng-container>
                        </clr-dg-column>

                        <!-- filter column header for date updated -->
                        <clr-dg-column [clrDgField]="'update_date'">
                            Date Updated
                            <clr-dg-filter [clrDgFilter]="dateUpdatedFilter">
                                <date-updated-filter [dateField]="'update_date'" #dateUpdatedFilter></date-updated-filter>
                            </clr-dg-filter>
                        </clr-dg-column>

                        <!-- begin data table rows -->

                        <clr-dg-row *clrDgItems="let ab of allAnalysisBatchSummaries" [clrDgItem]="ab">

                            <clr-dg-cell>{{ab.id}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.analysis_batch_description}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.studies}}</clr-dg-cell>

                            <clr-dg-cell>
                                <a (click)="openExtractionDetails(ab.id)" class="label label-blue clickable">{{ab.extraction_count}}</a>
                            </clr-dg-cell>

                            <clr-dg-cell>
                                <a (click)="openInhibitionDetails(ab.id)" class="label label-blue clickable">{{ab.inhibition_count}}</a>
                            </clr-dg-cell>

                            <clr-dg-cell>
                                <a (click)="openRTDetails(ab.id)" class="label label-blue clickable">{{ab.reverse_transcription_count}}</a>
                            </clr-dg-cell>

                            <clr-dg-cell><a href="" class="label label-blue clickable">{{ab.target_count}}</a></clr-dg-cell>

                            <clr-dg-cell>{{ab.analysis_batch_notes}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.insert_user}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.insert_date | date:'shortDate'}}</clr-dg-cell>
                            <clr-dg-cell>{{ab.update_user }}</clr-dg-cell>
                            <clr-dg-cell>{{ab.update_date | date:'shortDate'}}</clr-dg-cell>

                            <analysis-batch-detail *clrIfExpanded [selectedABSummary]="ab" ngProjectAs="clr-dg-row-detail"></analysis-batch-detail>

                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} samples
                            <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end samples table -->