<div class="card">
    <div class="card-block">
        <div class="card-title">Add Study</div>
        <div class="card-text">

        <form id="studyform" class="compact" [formGroup]="studyForm" (ngSubmit)="onSubmit()" [hidden]="submitted" >
          <section class="form-block">
            <!--<label>Add Study</label>-->
              <div class="form-group">
              <label>Name</label>
              <label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="studyForm.get('name').invalid && (studyForm.get('name').dirty || studyForm.get('name').touched)">
                <input id="name" type="text" formControlName="name">
                <span class="tooltip-content">Name is required.</span>
              </label>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <label for="description" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="studyForm.get('description').invalid && (studyForm.get('description').dirty || studyForm.get('description').touched)">
                <input id="description" type="text" formControlName="description">
                <span class="tooltip-content">Description is required.</span>
              </label>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="studyForm.invalid">Add</button>
          </section>
          <p>Form value: {{ studyForm.value | json }}</p>
          <p>Form status: {{ studyForm.status | json }}</p> 
        </form>

        
        </div> 
    </div>
</div>

<!--<button class="btn btn-sm" (click)="basic = true">Add Study</button>
<clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">Add Study</h3>
    <br>
    <div class="modal-body">
      <br>

        <form class="form" [formGroup]="studyForm" (ngSubmit)="onSubmit()" [hidden]="submitted" >
          <section class="form-block">
            <!--<label>Add Study</label>-->
            <!--<div class="form-group">
              <label>Name</label>
              <!--<input id="name" type="text" formControlName="name">-->
              <!--<label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="studyForm.get('name').invalid && (studyForm.get('name').dirty || studyForm.get('name').touched)">
                <input id="name" type="text" formControlName="name">
                <span class="tooltip-content">Name is required.</span>
              </label>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <label for="description" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="studyForm.get('description').invalid && (studyForm.get('description').dirty || studyForm.get('description').touched)">
                <input id="description" type="text" formControlName="description">
                <span class="tooltip-content">Description is required.</span>
              </label>
            </div>-->
            <!--<button class="btn btn-primary" type="submit" [disabled]="studyForm.invalid">Add</button>-->
          <!--</section>
        </form>-->

    <!--</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" type="submit" [disabled]="studyForm.invalid" (click)="basic = false">Add</button>
    </div>
</clr-modal>-->