<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <p>Welcome to
                        <span class="standoutMore">lili</span>
                        <br>
                        <span class="standout">L</span>aboratory for
                        <span class="standout">I</span>nfectious Disease and Environment
                        <span class="standout">L</span>aboratory
                        <span class="standout">I</span>nformation Management System.
                </div>
            </div>
        </div>
    </div>
</div>