<div id="loginPage">
  
  <div id="loginCard">

    <div id="loginMessage">
      <img src="../../images/lili_black.png"/>
      <h1>Welcome to <b>lili</b></h1>
      <h2>Please sign in to continue.</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" id="loginForm">
      <label for="login_username">Username</label>
      <input class="username" type="text" id="login_username" placeholder="" formControlName="username">
      <label for="login_password">Password</label>
      <input class="password" type="password" id="login_password" placeholder="" formControlName="password">

      <div id="loginError" *ngIf="authenticationErrorFlag">
          There was an error with your Email / Password combination.
          <br/>
          <b>Please try again.</b>
      </div>
      
      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
      <!-- <button class="btn btn-danger-outline" (click)="onLogout()">Logout</button> -->

    
  </div>

</div>
