<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <!-- <div class="card-title">Summary</div> -->
        <div class="card-text">


          <clr-stack-view>
            <clr-stack-header>Summary</clr-stack-header>

            <clr-stack-block >
              <clr-stack-label>Extractions <span class="badge badge-blue">3</span></clr-stack-label>
              <clr-stack-content></clr-stack-content>
              <clr-stack-block>
                <clr-stack-label>Sub-label 1</clr-stack-label>
                <clr-stack-content>Sub-content 1</clr-stack-content>
              </clr-stack-block>
              <clr-stack-block>
                <clr-stack-label>Sub-label 2</clr-stack-label>
                <clr-stack-content>Sub-content 2</clr-stack-content>
              </clr-stack-block>
              <clr-stack-block>
                <clr-stack-label>Sub-label 3</clr-stack-label>
                <clr-stack-content>Sub-content 3</clr-stack-content>
              </clr-stack-block>
            </clr-stack-block>

            <clr-stack-block>
              <clr-stack-label>RTs <span class="badge badge-blue">1</span></clr-stack-label>
              <clr-stack-content></clr-stack-content>
              <clr-stack-block>
                <clr-stack-label>Sub-label 4</clr-stack-label>
                <clr-stack-content>Sub-content 4</clr-stack-content>
              </clr-stack-block>
              <clr-stack-block>
                <clr-stack-label>Sub-label 5</clr-stack-label>
                <clr-stack-content>Sub-content 5</clr-stack-content>
              </clr-stack-block>
            </clr-stack-block>

            <clr-stack-block>
              <clr-stack-label>Inhibitions <span class="badge badge-blue">3</span></clr-stack-label>
              <clr-stack-content></clr-stack-content>
              <clr-stack-block>
                <clr-stack-label>Sub-label 4</clr-stack-label>
                <clr-stack-content>Sub-content 4</clr-stack-content>
              </clr-stack-block>
              <clr-stack-block>
                <clr-stack-label>Sub-label 5</clr-stack-label>
                <clr-stack-content>Sub-content 5</clr-stack-content>
              </clr-stack-block>
            </clr-stack-block>

            <clr-stack-block>
              <clr-stack-label>Targets <span class="badge badge-blue">5</span></clr-stack-label>
              <clr-stack-content></clr-stack-content>
              <clr-stack-block>
                <clr-stack-label>Sub-label 4</clr-stack-label>
                <clr-stack-content>Sub-content 4</clr-stack-content>
              </clr-stack-block>
              <clr-stack-block>
                <clr-stack-label>Sub-label 5</clr-stack-label>
                <clr-stack-content>Sub-content 5</clr-stack-content>
              </clr-stack-block>
            </clr-stack-block>
          </clr-stack-view>

        </div>
      </div>


    </div>
  </div>
  <div class="col-sm-6">
    <div>Right side</div>
  </div>
</div>