.ab-detail-card {
    min-height: 15em;
    margin: 1em;
}

.ab-detail-header {
    margin-left: 1em;
    margin-right: 1em;

}

.btn-ab-detail-edit{
    float: right;
}

.target-select-datagrid {
    max-height: 24em;
}

.table {
    margin-top: 0px !important;
}

.extract-detail-header {
    font-weight: bolder;
}
.extraction-row {
    display: inline-block;
}

.text-bold {
    font-weight: bold;
}
